<div class="row align-items-center no-gutters justify-content-md-center hidden-sm-down">
    <div class="col col-lg-1">
    </div>
    <div class="col-12 col-md-9">
        <div class="cmx-stepper {{makeStepperClass(filterVisible(steps).length)}}">
            <div class="cmx-progress">
                <div class="cmx-progress-line"></div>
            </div>
            <div *ngFor="let step of filterVisible(steps); let l = count; let i = index" class="cmx-step" [ngClass]="{ 'active': step.active, 'completed': step.completed }">
                <div class="cmx-step-icon">
                    <svg *ngIf="step.completed" class="icon-completed-checkmark">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-completed-checkmark"></use>
                    </svg>
                    <div *ngIf="!step.completed">
                        {{ i + 1 }}
                    </div>
                </div>
                <p>{{ step.name }}</p>
            </div>
        </div>
    </div>
    <div class="col col-lg-2">
        <div class="cto-container center-with-steps">
            <div class="float-md-right text-right">
                <button routerLink="../orders" *ngIf="currentStep.showControls && isFirstStep()" class="button mb-2 button-ghost">{{ t.pt('views.stepper.exit') }}</button>
                <button (click)="backAvailable && prev()" *ngIf="currentStep.showControls && !isFirstStep()" class="button mb-2" [ngClass]="{ 'disabled': !backAvailable, 'button-ghost': backAvailable }">{{ t.pt('views.stepper.back') }}</button>
                <button (click)="nextAvailable && next()" *ngIf="currentStep.showControls && !isLastStep()" class="button" [ngClass]="{ 'disabled': !nextAvailable, 'bright-green': nextAvailable }">{{ t.pt('views.stepper.next') }}</button>
                <button (click)="nextAvailable && finish()" *ngIf="currentStep.showControls && isLastStep()" class="button" [ngClass]="{ 'disabled': !nextAvailable, 'bright-green': nextAvailable }">{{ finishText }}</button>
                <!-- <button *ngIf="currentStep.showExit" class="button-ghost mb-2 " routerLink="app/orders">Exit</button> -->
                <button class="hidden" #controlNext data-target="#steps-slider" role="button" data-slide="next">{{ t.pt('views.stepper.next') }}</button>
                <button class="hidden" #controlPrev data-target="#steps-slider" role="button" data-slide="prev">{{ t.pt('views.stepper.back') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="builder-container">
    <div id="steps-slider" class="carousel slide" data-ride="carousel" data-interval="0">
        <div class="carousel-inner" role="listbox">
            <ng-content></ng-content>
        </div>
    </div>
</div>

<!-- Mobile stepper -->
<!-- ============== -->
<div class="mobile-stepper hidden-md-up">
    <div class="prev" [ngClass]="{ 'hidden-arrow': !backAvailable, 'hidden-arrow': !currentStep.showControls }">
        <a (click)="prev()">
            <svg class="icon-left-single">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-left-single"></use>
            </svg>
        </a>
    </div>
    <div class="current" (click)="changeShowOverlay()">
        <a data-toggle="collapse" href="#collapse-steps">
            {{currentStep.name}}
            <svg class="icon-up-single">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-up-single"></use>
            </svg>
        </a>
    </div>
    <div *ngIf="nextAvailable && currentStep.showControls" class="next">
        <a (click)="next()" role="button" data-slide="next">
            <svg class="icon-right-single">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-single"></use>
            </svg>
        </a>
    </div>
    <div class="stepper-open collapse" id="collapse-steps">
        <div class="stepper-container">
            <div *ngFor="let step of filterVisible(steps); let last = last; let i = index" class="step">
                <div class="cmx-step-icon" [ngClass]="{ 'cmx-step-disabled': !step.active && !step.completed, 'cmx-step-completed': step.completed }">
                    <svg *ngIf="step.completed" class="icon-completed-checkmark">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-completed-checkmark"></use>
                    </svg>
                    <div *ngIf="!step.completed">
                        {{i + 1}}
                    </div>
                    <div *ngIf="!last" class="bottom-connector"></div>
                </div>
                <a href="#">{{step.name}}</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="overlay" class="stepper-overlay hidden-md-up"></div>