@import "~bootstrap/scss/bootstrap-grid.scss";
@import "_responsive.scss";
// Stepper
// Overrides on garbage DLS CSS
//============================================
.hidden {
    display: none;
    visibility: hidden;
}

.cmx-stepper.center-md-up {
    margin: 0 128px;
    @include media-breakpoint-down(md) {
        margin: 0;
    }
}

.cmx-step-icon {
    transition: all .3s ease;
}

.cmx-stepper.cmx-stepper-4 .cmx-progress {
    width: 76%;
    margin-left: 0;
    transform: translateX(16%);
}

.cmx-stepper {
    .cmx-step p {
        word-break: break-word;
    }
}

.mobile-stepper {
    position: fixed;
    bottom: 0;
    left: 0;
}

.stepper-container {
    padding: 30px;
    min-height: 160px;
}

.stepper-open {
    width: 100%;
    min-height: 0;
    background: #003876;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: 48px;
    color: #fff;
    font-size: 1rem;
    padding: 0;
}

.cto-container {
    button:not(:first-child) {
        margin-left: 8px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 16px;
    }
}

.jobsite-builder-container {
    margin: 58px 0;
    @include media-breakpoint-down(sm) {
        margin: 20px 0;
    }
}