@import "~bootstrap/scss/bootstrap-grid.scss";
@import "_responsive.scss";
// Stepper
// Overrides on garbage DLS CSS
//============================================
.hidden {
    display: none;
    visibility: hidden;
}

.cmx-stepper.center-md-up {
    margin: 0 128px;
    @include media-breakpoint-down(md) {
        margin: 0;
    }
}

.cmx-step-icon {
    transition: all .3s ease;
}

.cmx-stepper.cmx-stepper-4 .cmx-progress {
    width: 76%;
    margin-left: 0;
    transform: translateX(16%);
}

.cmx-stepper {
    .cmx-step p {
        word-break: break-word;
    }
}

.cmx-stepper .cmx-step.active .cmx-step-icon {
    background: #00AFFD;
}

.cmx-stepper .cmx-step.completed .cmx-step-icon {
    background: #00D000;
}

.cmx-step.active p {
    color: #001B3A;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}

// Mobile
.mobile-stepper {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.stepper-container {
    padding: 30px;
    min-height: 160px;
}

.stepper-open {
    width: 100%;
    min-height: 0;
    background: #f4f6f9;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: 48px;
    color: #fff;
    font-size: 1rem;
    padding: 0;
    .step {
        a {
            color: #29a6f3;
        }
    }
}

.stepper-overlay {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: inherit;
    height: calc(100% - 48px);
    width: 100%;
    opacity: 0.3;
    z-index: 1;
}

.cto-container {
    button:not(:first-child) {
        margin-left: 8px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 16px;
    }
}

.builder-container {
    margin: 58px 0;
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
        margin: 20px 0;
    }
}

.mobile-stepper .stepper-open .cmx-step-icon {
    font-size: 15px;
    line-height: 27px;
}