@cemex-core:registry=https://cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-core-framework/
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-core-framework/:_password=QVA4Rk1uRDhVckxhSEJkS3NjUGprSzkyZVpt
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-core-framework/:username=read-only-user
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-core-framework/:always-auth=true


@cemex:registry=https://cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/:_password=QVA4Rk1uRDhVckxhSEJkS3NjUGprSzkyZVpt
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/:username=read-only-user
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/:always-auth=true


@cemex:registry=https://cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/:_password=QVAzd042d3lVdzVVNjd2QmFLRVp3ZFRxVk51
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/:username=read-only-user1
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/:always-auth=true

@cemex-core:registry=https://cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-core-framework/
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-core-framework/:_password=QVAzd042d3lVdzVVNjd2QmFLRVp3ZFRxVk51
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-core-framework/:username=read-only-user1
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-core-framework/:always-auth=true
