<div class="w-100">
    <div class="row">
        <div class="col-md-6">
            <div class="first-container">
                <div class="row align-items-center mb-21px">
                    <div class="col-md-4 col-sm-12 select-label">
                        <label for="jobsite-select" class="select-label">Select from existing jobiste</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select id="jobsite-select" class="form-control" [(ngModel)]="location" (change)="jobsiteChanged()" [ngClass]="{ 'nice-selection': nice }">
                            <option value="" selected disabled hidden>Select existing POD</option>
                            <ng-container *ngFor="let l of locations">
                                <option [ngValue]='l'>{{ l.shipmentLocationDesc }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-4 col-sm-12 select-label">
                        <label for="pod-select" class="select-label">Select from existing point of delivery</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select id="pod-select" class="form-control" (change)="validateFormElements($event, 'pointOfDelivery')">
                            <option value="" selected disabled hidden>Select existing POD</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="second-container">
                <div class="row align-items-center mb-21px">
                    <div class="col-md-4 col-sm-12 select-label">
                        <label for="purchase-order" class="select-label required" (change)="contactSelected($event)">Purchase order</label>
                    </div>
                    <div class="col-md-8 col-sm-12" [ngClass]="{error: !validationModel.purchaseOrder}">
                        <input type="text" class="form-control dls required" (keyup)="validateFormElements($event, 'purchaseOrder')" (blur)="validateFormElements($event, 'purchaseOrder')" id="purchase-order" placeholder="Put your purchase order" name="purchase-order" />
                        <span class="error-message">Address cannot be that short.</span>
                    </div>
                </div>
                <div class="row align-items-center mb-21px">
                    <div class="col-md-4 col-sm-12 select-label">
                        <label for="conctact-select" class="select-label" (change)="contactSelected($event)">Contact person</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select id="conctact-select" class="form-control" [(ngModel)]="contact">
                            <option value="" selected disabled hidden>Select contact</option>
                            <ng-container *ngFor="let c of contacts">
                                <option [ngValue]='c'>{{ c.name }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-4 col-sm-12 select-label">
                        <label for="special-instructions-field" class="select-label">Special instructions</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <textarea id="special-instructions-field" (change)="validateFormElements($event, 'instructions')" (blur)="validateFormElements($event, 'instructions')" [(ngModel)]="orderManager.instructions" class="instructions-area form-control" placeholder="Comments belong here"></textarea>
                        <span class="error-message">Address cannot be that short.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="jobsite-selection-map"></div>
        </div>
    </div>
</div>