@import "~bootstrap/scss/bootstrap-grid.scss";
@import '../../../../scss/utils.scss';
// Step 1
// Jobsite selection
// ============================================
.first-container {
    border-bottom: 1px solid #DDE0E6;
    padding-bottom: 51px;
    // @include media-breakpoint-up(md) {
    // }
}

.second-container {
    padding-top: 42px;
    @include media-breakpoint-down(sm) {
        padding-bottom: 42px;
    }
}

div.select-label {
    align-self: flex-start;
    align-items: center;
    height: 48px;
    display: flex;
    @include media-breakpoint-down(sm) {
        height: auto;
    }
}

.select-label {
    color: #001C3B;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
    @include media-breakpoint-down(sm) {
        margin-bottom: .25rem;
        &:not(:first-child) {
            margin-top: 26px;
        }
    }
}

select {
    border: 1px solid #ACAEBA;
    border-radius: 3px;
    height: 48px !important;
    &:invalid {
        color: #666666;
    }
}

input {
    border: 1px solid #ACAEBA;
    border-radius: 3px;
    background-color: #FFFFFF;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 3px;
    height: 48px;
    padding: 16px;
}

.instructions-area {
    height: 217px;
    border: 1px solid #ACAEBA;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.map-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .53;
    z-index: 1;
    >div {
        background: url("../cemex-loading.gif") no-repeat 0 0;
        background-position: center;
        height: 100%;
        width: 100%;
    }
}

#jobsite-selection-map {
    height: 100%;
    min-height: 491px;
    //margin-top: 27px;
}

.nice-selection {
    color: #032549
}

.mb-21px {
    margin-bottom: 21px;
}

.error-message {
    display: none;
}

label.required {
    &:after {
        content: "*";
        color: #EE3D42;
        margin-left: 4px;
    }
}

.error {
    .error-message {
        font-size: 0.75rem;
        color: #EE3D41;
        width: 100%;
        display: block;
        text-align: left;
        line-height: 22px;
    }
    .form-control {
        border: 1px solid #EE3D41;
    }
    .ng-invalid {
        //border: 1px solid #EE3D41;
        display: block;
        border-radius: 3px;
    }
    /deep/.dropdown.selection.dropdown-inline {
        border: 1px solid #EE3D41;
    }
}

.error-message-select {
    font-size: 0.75rem;
    color: #EE3D41;
    width: 100%;
    display: block;
}

.form-field {
    svg {
        vertical-align: top;
    }
    label {
        margin-bottom: 0;
    }
    &+.form-field {
        margin-top: 0.5rem;
    }
}