<div>
    <div class="row" style="margin-left: 8px;">
        <div class="select-product">Select a product</div>
    </div>
    <div class="row products">
        <div class="col-md-4">
            <div class="product-desc align-items-center">
                <span class="icon cmx-icon-driver"></span>
                <span>ReadyMix</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-desc align-items-center">
                <span class="icon cmx-icon-driver"></span>
                <span>Cement Bulk</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-desc align-items-center">
                <span class="icon cmx-icon-driver"></span>
                <span>Cement Package</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-desc align-items-center">
                <span class="icon cmx-icon-driver"></span>
                <span>Aggregates</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-desc align-items-center">
                <span class="icon cmx-icon-driver"></span>
                <span>Multiproducts</span>
            </div>
        </div>
    </div>
</div>