<div class="layout">
    <breadcrumbs>
        <breadcrumbs-item link="../orders">Orders</breadcrumbs-item>
        <breadcrumbs-item>New</breadcrumbs-item>
    </breadcrumbs>
    <div class="title-container row align-items-center">
        <div class="col-md-8 col-sm-12">
            <h1>New Order</h1>
        </div>
        <!-- <div class="cto-container hidden-sm-down col-md-4 col-sm-12">
            <div class="float-md-right">
                <cemex-action-button
                    title="Back"
                    [solid]="true"
                    [ghost]="true"
                    routerLink="../orders"
                >
                </cemex-action-button>
                <cemex-action-button
                    title="Next"
                    [color]="'green'"
                    href="#steps-slider" 
                    role="button" 
                    data-slide="next"
                >
                </cemex-action-button>
            </div>
        </div> -->
    </div>

    <order-builder></order-builder>

    <a routerLink="../cart" class="floating-button">
        <div class="float-badge">1</div>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a>
</div>