<div class="layout">
    <breadcrumbs>
        <breadcrumbs-item link="../orders">{{ t.pt('views.common.orders') }}</breadcrumbs-item>
        <breadcrumbs-item>{{ t.pt('views.common.new') }}</breadcrumbs-item>
    </breadcrumbs>
    <div class="title-container row align-items-center">
        <div class="col-md-8 col-sm-12">
            <h1>{{ t.pt('views.common.new_order') }}</h1>
        </div>
        <!-- <div class="cto-container hidden-md-up col-md-4 col-sm-12">
            <div class="float-md-right">
                <cemex-action-button title="Exit" [solid]="true" [ghost]="true" routerLink="../orders">
                </cemex-action-button>
            </div>
        </div> -->
    </div>

    <order-builder></order-builder>

    <!-- <a routerLink="../cart" class="floating-button">
        <div class="float-badge">1</div>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a> -->
</div>