@import "~bootstrap/scss/bootstrap-grid.scss";
@import "../../scss/responsive.scss";
$link-blue: #3FA9F5;
.layout {
    padding: 42px 26px 34px 26px;
    @include media-breakpoint-down(sm) {
        padding: 17px 17px 54px 17px;
    }
}

.title-container {
    padding-top: 7px;
    padding-bottom: 16px;
    white-space: nowrap;
    h1 {
        display: inline;
    }
    .icon-down-single-black {
        height: 8px;
        width: 17px;
        vertical-align: 10px;
        margin-left: 11px;
    }
}

.cto-container {
    &.center-with-steps a {
        margin-bottom: 16px;
    }
    a:not(:first-child) {
        margin-left: 8px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 16px;
    }
}

// Floating button
.floating-button {
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    height: 70px;
    width: 70px;
    background-color: #3FA9F5;
    box-shadow: 0 8px 9px 0 rgba(17, 71, 109, 0.22);
    bottom: 40px;
    right: 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    >i {
        top: 20px;
        left: 20px;
        color: white;
        position: absolute;
        font-size: 30px;
    }
    .float-badge {
        text-align: center;
        white-space: nowrap;
        border-radius: 50%;
        height: 30.92px;
        width: 30.92px;
        background-color: #EE3D42;
        margin-top: -8px;
        margin-left: 42px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        line-height: 32px;
    }
    @include media-breakpoint-down(sm) {
        bottom: 64px;
    }
}