<div class="layout">
    <ul class="title-nav">
        <li>Orders</li>
        <li class="li-order">New Order</li>
    </ul>
    <div class="master-container">
        <div class="title-container row">
            <div class="col-sm-8">
                <h1>New Order</h1>  
            </div>
        </div>    

        <div class="cmx-stepper cmx-stepper-4 progress-bar-edit">
            <div class="cmx-progress">
                <div class="cmx-progress-line"></div>
            </div>
            
            <div class="cmx-step active">
                <div class="cmx-step-icon">1</div>
                <p>Delivery mode</p>
            </div>

            <div class="cmx-step inactive">
                <div class="cmx-step-icon">2</div>
                <p>Product line</p>
            </div>
                
                <div class="cmx-step inactive">
                <div class="cmx-step-icon">3</div>
                <p>Specifications</p>
            </div>

            <div class="cmx-step inactive">
                <div class="cmx-step-icon">4</div>
                <p>Summary</p>
            </div>
            <div id="exit" class="cmx-step col-sm-3 button-style">
                <a class="button-ghost float-sm-right" href="#">EXIT</a>
            </div>
        </div>
    </div>

    <div class="row ovals">
        <div class="oval1" routerLink="../new">    
            <svg class="icon-orders box-order">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-orders"></use>
            </svg>            
            DELIVERY
        </div>
        <div class="line">
            <span class="line-text-span">or</span>
        </div>    
        <div class="oval2" routerLink="../new">
            <svg class="icon-map-location">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map-pin"></use>
            </svg>               
            PICKUP
        </div>          
    </div>
    <div class="row-text-container">        
        <div class="row-text">
            <span>Please select how will you be <br />a receiving the product?</span>
        </div>    
    </div>
</div>