.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.mr-13 {
    margin-right: 13px;
}

.w30 {
    width: 30%;
}

.mb-100 {
    margin-bottom: 100px;
}