@cemex:registry=https://cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/:_password=QVA4Rk1uRDhVckxhSEJkS3NjUGprSzkyZVpt
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/:username=read-only-user
//cemexpmo.jfrog.io/cemexpmo/api/npm/cmx-ngx-framework/:always-auth=true