<div class="products">
    <!-- Cement Mexico Delivery -->
    <ng-container *ngIf="UTILS.isDelivery() && UTILS.isCement()">
        <div class=" product " [ngClass]="{ 'exit-animation': product.deleting, 'enter-animation': index> 0 }" *ngFor="let product of preProducts; let index = index;">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="group">
                        <label [ngClass]="{ loading: product.loadings.products }">
                            {{ t.pt('views.specifications.product_description') }}
                        </label>
                        <div class="input product-selection dropdown" (click)="availableProducts.length == 0 && (!product.loadings.products) && openProductSearch(product)" [ngClass]="{ disabled: product.disableds.products }">
                            <span class="selection">
                                {{ product.product?.commercialCode }} / {{ product.product?.commercialDesc }}
                                <select *ngIf="availableProducts.length" style="width: calc(100% - 80px);" [(ngModel)]="product.product" (ngModelChange)="productChanged(product)" class="input behind">
                                    <option *ngFor="let p of availableProducts" [ngValue]="p">{{ p?.commercialCode }} / {{ p?.commercialDesc }}</option>
                                </select>
                            </span>
                            <span class="action" (click)="openProductSearch(product)">Change</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w60 mr-13">
                            <label>
                                {{ t.pt('views.specifications.quantity') }}
                            </label>
                            <div class="noselect input number-stepper" [ngClass]="{ disabled: product.disableds.quantity }">
                                <span (click)="qty(product, -1)" class="control minus"><span class="cmx-icon-minus"></span></span>
                                <input class="value" type="number" [ngModel]="product.quantity | number:'1.3-3'" (ngModelChange)="valuechange(product, $event)" min="0.001" />
                                <span (click)="qty(product, 1)" class="control plus"><span class="cmx-icon-plus"></span></span>
                            </div>
                            <div class="info" *ngIf="isMXCustomer() && product.maximumCapacity">
                                {{ t.pt('views.specifications.maximum_capacity') }} {{ product.maximumCapacity }} Ton(s)
                            </div>
                        </div>
                        <div class="group w40">
                            <label [ngClass]="{ loading: product.loadings.units }">
                                {{ t.pt('views.specifications.unit') }}
                            </label>
                            <div class="input flex-space-between dropdown" [ngClass]="{ disabled: product.disableds.units }">
                                <span style="line-height: 24px;">
                                    {{ product.unit?.alternativeUnit?.unitCode | unitCodeMapper }}
                                    <select [(ngModel)]="product.unit" class="input behind">
                                        <option *ngFor="let unit of product.availableUnits" [selected]="" [ngValue]="unit">{{ unit?.alternativeUnit?.unitCode | unitCodeMapper }}</option>
                                    </select>
                                </span>
                                <span class="arrow cmx-icon-straight-arrow-down"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w50 mr-13">
                            <label>{{ t.pt('views.specifications.request_date') }}</label>
                            <label for="date{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    <!-- {{ product?.date | date: 'shortDate' }} -->
                                    <!-- <input id="date{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.date" ngui-datetime-picker date-only="true" [min-date]="today" /> -->
                                    <input type="date" min="{{ todayStr() }}" name="date{{ index }}" class="input-date" id="date{{ index }}" [ngModel]="product.date | date:'yyyy-MM-dd'" (ngModelChange)="product.date = $event"/>
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-calendar"></span></span>
                                </span>
                            </label>
                        </div>
                        <div class="group w50">
                            <label>{{ t.pt('views.specifications.request_time') }}</label>
                            <label for="time{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    <!-- <div class="time{{ index }}">{{ product?.time | date: 'HH:mm' }}</div>
                                    <input id="time{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.time" ngui-datetime-picker time-only="true" right-side="true" [close-on-select]="false" hour="0" minute="0" /> -->
                                    <input type="time" name="time{{ index }}" class="input-date" id="time{{ index }}" [ngModel]="product.time" (ngModelChange)="product.time = $event"/>
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-clock"></span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mt-3">
                    <div class="group">
                        <label [ngClass]="{ loading: product.loadings.contracts }">Contract</label>
                        <div class="input contract dropdown flex-space-between" [ngClass]="{ disabled: product.disableds.contracts }">
                            <span class=""><strong>{{ t.pt('views.specifications.contract') }} {{ product.contract?.salesDocument?.salesDocumentCode }}</strong></span>
                            <span class="volume" *ngIf="!UTILS.isUSACustomer()">
                                {{ t.pt('views.specifications.remaining_volume') }}
                                <strong *ngIf="product.contract?.salesDocument?.hasOwnProperty('volume')">{{ product.contract?.salesDocument?.volume?.total.quantity.amount }}</strong>
                            </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                            <select [(ngModel)]="product.contract" (ngModelChange)="contractChanged(product)" class="input behind">
                                <option *ngFor="let contract of product.availableContracts; let first = first;" [ngValue]="contract">{{ t.pt('views.specifications.contract') }} {{ contract?.salesDocument?.salesDocumentCode }} &nbsp;&nbsp;&nbsp;&nbsp;  {{ t.pt('views.specifications.remaining_volume') }}  {{ contract?.salesDocument?.volume?.total.quantity.amount }} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3" [ngClass]="{ invisible: shouldHidePayment }">
                    <div class="group">
                        <label [ngClass]="{ loading: product.loadings.payments }">{{ t.pt('views.specifications.payment') }}</label>
                        <div class="input flex-space-between dropdown" [ngClass]="{ disabled: product.disableds.payments }">
                            <span>
                                {{ product.payment?.paymentTermType.paymentTermTypeDesc }}
                                <select [(ngModel)]="product.payment" (ngModelChange)="paymentChanged(product)" class="input behind">
                                    <option selected *ngFor="let payment of product.availablePayments" [ngValue]="payment">{{ payment.paymentTermType.paymentTermTypeDesc }}</option>
                                </select>
                                </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="product.maneuveringAvailable">
                <div class="col-md-3 mt-3">
                    <div class="group">
                        <label>{{ t.pt('views.specifications.aditional_services') }}</label>
                        <div class="service">
                            <input [(ngModel)]="product.maneuvering" checked type="checkbox" id="maneuvering{{ index }}">
                            <label for="maneuvering{{ index }}">
                                <svg class="icon-checkbox-active">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox-active"></use>
                                </svg>
                                <svg class="icon-checkbox-static">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                </svg>
                                <svg class="icon-checkbox-hover">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                </svg>
                                <span>{{ t.pt('views.specifications.maneuvering') }}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mt-3 flex-end w-100">
                    <button (click)="remove(index)" class="noborder">{{ t.pt('views.specifications.remove_product') }}</button>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Cement Mexico Pickup -->
    <ng-container *ngIf="UTILS.isPickup() && UTILS.isCement()">
        <div class="product" [ngClass]="{ 
            'exit-animation': product.deleting, 
            'enter-animation': index > 0 }" *ngFor="let product of preProducts; let index = index;">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="group">
                        <label [ngClass]="{ loading: product.loadings.products }">
                            {{ t.pt('views.specifications.product_description') }}
                        </label>
                        <div class="input product-selection dropdown" (click)="availableProducts.length == 0 && (!product.loadings.products) && openProductSearch(product)" [ngClass]="{ disabled: product.disableds.products }">
                            <span class="selection">
                                {{ product.product?.commercialCode }} / {{ product.product?.commercialDesc }}
                                <select *ngIf="availableProducts.length" style="width: calc(100% - 80px);" [(ngModel)]="product.product" (ngModelChange)="productChanged(product)" class="input behind">
                                    <option *ngFor="let p of availableProducts" [ngValue]="p">{{ p?.commercialCode }} / {{ p?.commercialDesc }}</option>
                                </select>
                            </span>
                            <span class="action" (click)="openProductSearch(product)">Change</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w60 mr-13">
                            <label>
                                {{ t.pt('views.specifications.quantity') }} 
                            </label>
                            <div class="noselect input number-stepper" [ngClass]="{ disabled: product.disableds.quantity }">
                                <span (click)="qty(product, -1)" class="control minus"><span class="cmx-icon-minus"></span></span>
                                <input class="value" type="number" [ngModel]="product.quantity | number:'1.3-3'" (ngModelChange)="valuechange(product, $event)" min="0.001" />
                                <span (click)="qty(product, 1)" class="control plus"><span class="cmx-icon-plus"></span></span>
                            </div>
                            <div class="info" *ngIf="UTILS.isMexicoCustomer() && product.maximumCapacity">
                                {{ t.pt('views.specifications.maximum_capacity') }} {{ product.maximumCapacity }} Ton(s)
                            </div>
                        </div>
                        <div class="group w40">
                            <label [ngClass]="{ loading: product.loadings.units }">
                                {{ t.pt('views.specifications.unit') }}
                            </label>
                            <div class="input flex-space-between dropdown" [ngClass]="{ disabled: product.disableds.units }">
                                <span style="line-height: 24px;">
                                        {{ product.unit?.alternativeUnit?.unitCode | unitCodeMapper }}
                                        <select [(ngModel)]="product.unit" class="input behind">
                                            <option *ngFor="let unit of product.availableUnits" [selected]="" [ngValue]="unit">
                                                {{ unit.alternativeUnit?.unitCode | unitCodeMapper }}
                                            </option>
                                        </select>
                                    </span>
                                <span class="arrow cmx-icon-straight-arrow-down"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w50 mr-13">
                            <label>{{ t.pt('views.specifications.request_date') }}</label>
                            <label for="date{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    <!-- {{ product?.date | date: 'shortDate' }} -->
                                    <!-- <input id="date{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.date" ngui-datetime-picker date-only="true" [min-date]="today" /> -->
                                    <input type="date" min="{{ todayStr() }}" name="date{{ index }}" class="input-date" id="date{{ index }}" [ngModel]="product.date | date:'yyyy-MM-dd'" (ngModelChange)="product.date = $event"/>
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-calendar"></span></span>
                                </span>
                            </label>
                        </div>
                        <div class="group w50">
                            <label>{{ t.pt('views.specifications.request_time') }}</label>
                            <label for="time{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    <!-- <div class="time{{ index }}">{{ product?.time | date: 'HH:mm' }}</div>
                                    <input id="time{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.time" ngui-datetime-picker time-only="true" right-side="true" [close-on-select]="false" hour="0" minute="0" /> -->
                                    <input type="time" name="time{{ index }}" class="input-date" id="time{{ index }}" [ngModel]="product.time" (ngModelChange)="product.time = $event"/>
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-clock"></span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mt-3">
                    <div class="group">
                        <label [ngClass]="{ loading: product.loadings.contracts }">Contract</label>
                        <div class="input contract dropdown flex-space-between" [ngClass]="{ disabled: product.disableds.contracts }">
                            <span class=""><strong>Contract {{ product.contract?.salesDocument?.salesDocumentCode }}</strong></span>
                            <span class="volume">
                                {{ t.pt('views.specifications.remaining_volume') }}
                                <strong *ngIf="product.contract?.salesDocument?.hasOwnProperty('volume')">{{ product.contract?.salesDocument?.volume?.total.quantity.amount }}</strong>
                            </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                            <select [(ngModel)]="product.contract" (ngModelChange)="contractChanged(product)" class="input behind">
                            <option *ngFor="let contract of product.availableContracts; let first = first;" [ngValue]="contract">{{ t.pt('views.specifications.contract') }} {{ contract?.salesDocument?.salesDocumentCode }} &nbsp;&nbsp;&nbsp;&nbsp;  {{ t.pt('views.specifications.remaining_volume') }} {{ contract?.salesDocument?.volume?.total.quantity.amount }}
                            </option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3" [ngClass]="{ invisible: shouldHidePayment }">
                    <div class="group">
                        <label [ngClass]="{ loading: product.loadings.payments }">{{ t.pt('views.specifications.payment') }}</label>
                        <div class="input flex-space-between dropdown" [ngClass]="{ disabled: product.disableds.payments }">
                            <span>
                                {{ product.payment?.paymentTermType.paymentTermTypeDesc }}
                                <select [(ngModel)]="product.payment" (ngModelChange)="paymentChanged(product)" class="input behind">
                                    <option selected *ngFor="let payment of product.availablePayments" [ngValue]="payment">{{ payment.paymentTermType.paymentTermTypeDesc }}</option>
                                </select>
                            </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-3" *ngIf="product.maneuveringAvailable">
                    <div class="flex-container justify-content-between">
                        <div class="group">
                            <label>{{ t.pt('views.specifications.aditional_services') }}</label>
                            <div class="service spaced-top">
                                <input [(ngModel)]="product.maneuvering" checked type="checkbox" id="maneuvering{{ index }}">
                                <label for="maneuvering{{ index }}">
                                    <svg class="icon-checkbox-active">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox-active"></use>
                                    </svg>
                                    <svg class="icon-checkbox-static">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                    </svg>
                                    <svg class="icon-checkbox-hover">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                    </svg>
                                    <span>{{ t.pt('views.specifications.maneuvering') }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mt-3">
                    <div class="group" [ngClass]="{ invisible: UTILS.isUSACustomer() }">
                        <label>Plant</label>
                        <div class="input contract dropdown flex-space-between" [ngClass]="{ disabled: product.loadings.plants }">
                            <span class="">
                                {{ product?.plant?.plantDesc }}
                                <select [(ngModel)]="product.plant" (ngModelChange)="plantChanged(product)" class="input behind">
                                    <option *ngFor="let plant of product.availablePlants" [ngValue]="plant">{{ plant.plantDesc }}</option>
                                </select>
                            </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mt-3 flex-end w-100">
                    <button (click)="remove(index)" class="noborder">{{ t.pt('views.specifications.remove_product') }}</button>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Readymix -->
    <ng-container *ngIf="UTILS.isReadyMix()">
        <div class="product" [ngClass]="{ 
                'exit-animation': product.deleting, 
                'enter-animation': index > 0 }" *ngFor="let product of preProducts; let index = index;">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="group">
                        <label [ngClass]="{ loading: product.loadings.products }">
                            {{ t.pt('views.specifications.product_description') }}
                        </label>
                        <div class="input product-selection dropdown" [ngClass]="{ disabled: product.disableds.products }">
                            <span class="selection">
                                {{ product.product?.commercialCode }} / {{ product.product?.commercialDesc }}
                                <select *ngIf="availableProducts.length" style="width: calc(100% - 80px);" [(ngModel)]="product.product" (ngModelChange)="productChanged(product)" class="input behind">
                                    <option *ngFor="let p of availableProducts" [ngValue]="p">{{ p?.commercialCode }} / {{ p?.commercialDesc }}</option>
                                </select>
                            </span>
                            <!-- <span class="action">Change</span> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w60 mr-13">
                            <label>
                                {{ t.pt('views.specifications.quantity') }}
                            </label>
                            <div class="noselect input number-stepper" [ngClass]="{ disabled: product.disableds.quantity }">
                                <span (click)="qty(product, -1)" class="control minus"><span class="cmx-icon-minus"></span></span>
                                <input class="value" type="number" [ngModel]="product.quantity | number:'1.3-3'" (ngModelChange)="valuechange(product, $event)" min="0.001" />
                                <span (click)="qty(product, 1)" class="control plus"><span class="cmx-icon-plus"></span></span>
                            </div>
                        </div>
                        <div class="group w40">
                            <label [ngClass]="{ loading: product.loadings.units }">
                                {{ t.pt('views.specifications.unit') }}
                            </label>
                            <div class="input flex-space-between dropdown" [ngClass]="{ disabled: product.disableds.units }">
                                <span style="line-height: 24px;">
                                    {{ product.unit?.alternativeUnit?.unitCode | unitCodeMapper }}
                                    <select [(ngModel)]="product.unit" class="input behind">
                                        <option *ngFor="let unit of product.availableUnits" [selected]="" [ngValue]="unit">{{ unit?.alternativeUnit?.unitCode | unitCodeMapper }}</option>
                                    </select>
                                </span>
                                <span class="arrow cmx-icon-straight-arrow-down"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w50 mr-13">
                            <label>{{ t.pt('views.specifications.request_date') }}</label>
                            <label for="date{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    <!--  -->
                                    <!-- <input id="date{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.date" ngui-datetime-picker date-only="true" /> -->
                                    <input type="date" min="{{ todayStr() }}" name="date{{ index }}" class="input-date" id="date{{ index }}" [ngModel]="product.date | date:'yyyy-MM-dd'" (ngModelChange)="product.date = $event" />
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-calendar"></span></span>
                                </span>
                            </label>
                        </div>
                        <div class="group w50">
                            <label>{{ t.pt('views.specifications.request_time') }}</label>
                            <label for="time{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    <!-- {{ product.time }} -->
                                    <!-- <input id="time{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.time" ngui-datetime-picker time-only="true" right-side="true" [close-on-select]="false" hour="0" minute="0" /> -->
                                    <input type="time" name="time{{ index }}" class="input-date" id="time{{ index }}" [ngModel]="product.time" (ngModelChange)="product.time = $event"/>
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-clock"></span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mt-3">
                    <div class="group">
                        <label [ngClass]="{ loading: product.loadings.contracts }">{{ t.pt('views.specifications.contract') }}</label>
                        <div class="input contract dropdown flex-space-between" [ngClass]="{ disabled: product.disableds.contracts }">
                            <span class=""><strong>{{ t.pt('views.specifications.contract') }} {{ product.contract?.salesDocument?.salesDocumentCode }}</strong></span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                            <select [(ngModel)]="product.contract" (ngModelChange)="contractChanged(product)" class="input behind">
                                <option *ngFor="let contract of product.availableContracts; let first = first;" [ngValue]="contract">{{ t.pt('views.specifications.contract') }} {{ contract?.salesDocument?.salesDocumentCode }} &nbsp;&nbsp;&nbsp;&nbsp;</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="group">
                        <label>{{ t.pt('views.specifications.project_profiles') }}</label>
                        <div class="input flex-space-between dropdown" [ngClass]="{ disabled: product.loadings.projectProfiles }">
                            <span>
                                <!-- Select project profile to prefill specifications -->
                                {{ product?.projectProfile?.profileName }}
                                <select [(ngModel)]="product.templateProfile" (ngModelChange)="projectProfileChanged(product, $event)" class="input behind">
                                    <option *ngFor="let project of projectProfiles" [ngValue]="project">{{ project?.profileName }}</option>
                                </select>
                                </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap rdymx-specs" [ngClass]="{ disabled: product.loadings.catalogs }">
                <div class="group">
                    <label [ngClass]="{ loadings: product.loadings.catalogs }">
                        {{ t.pt('views.specifications.discharge_time') }}
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            {{ product?.projectProfile?.project?.projectProperties?.dischargeTime?.timePerDischargeDesc }}
                            <select (change)="onChangeDischargeTime(product, $event.target.value)" class="input behind">
                                <option value="" selected disabled hidden></option>
                                <option *ngFor="let entry of catalogs.DCT; let i = index" [value]="i">{{ entry.entryDesc }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group">
                    <label [ngClass]="{ loadings: product.loadings.catalogs }">
                        {{ t.pt('views.specifications.transport_method') }}
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            {{ product?.projectProfile?.project?.projectProperties?.transportMethod?.transportMethodDesc }}
                            <select (change)="onChangeTransportMethod(product, $event.target.value)" class="input behind">
                                <option value="" selected disabled hidden></option>
                                <option *ngFor="let entry of catalogs.TPM; let i = index" [value]="i">{{ entry.entryDesc }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group">
                    <label [ngClass]="{ loadings: product.loadings.catalogs }">
                        {{ t.pt('views.specifications.unload_type') }}
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            {{ product?.projectProfile?.project?.projectProperties?.unloadType?.unloadTypeDesc }}
                            <select (change)="onChangeUnloadType(product, $event.target.value)" class="input behind">
                                <option value="" selected disabled hidden></option>
                                <option *ngFor="let entry of catalogs.ULT; let i = index" [value]="i">{{ entry.entryDesc }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group" *ngIf="product.projectProfile?.project?.projectProperties?.unloadType?.unloadTypeId === 2">
                    <label [ngClass]="{ loadings: product.loadings.catalogs }">
                        {{ t.pt('views.specifications.pump_capacity') }}
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            {{product.projectProfile?.project?.projectProperties?.pumpCapacity?.pumpCapacityDesc }}
                            <select (change)="onChangePumpCapacity(product, $event.target.value)" class="input behind">
                                <option value="" selected disabled hidden></option>
                                <option *ngFor="let entry of catalogs.PCC; let i = index" [value]="i">{{ entry.entryDesc }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group">
                    <label [ngClass]="{ loadings: product.loadings.catalogs }">
                        {{ t.pt('views.specifications.application') }}
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            {{ product?.projectProfile?.project?.projectProperties?.element?.elementDesc }}
                            <select (change)="onChangeApplication(product, $event.target.value)" class="input behind">
                                <option value="" selected disabled hidden></option>
                                <option *ngFor="let entry of catalogs.ELM; let i = index" [value]="i">{{ entry.entryDesc }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group">
                    <label [ngClass]="{ loadings: product.loadings.catalogs }">
                        {{ t.pt('views.specifications.load_size') }}
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            {{product?.projectProfile?.project?.projectProperties?.loadSize?.loadSizeDesc}}
                            <select (change)="onChangeLoadSize(product, $event.target.value)"  class="input behind">
                                <option value="" selected disabled hidden></option>
                                <option *ngFor="let entry of catalogs.LSC; let i = index" [value]="i">{{ entry.entryDesc }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group">
                    <label [ngClass]="{ loadings: product.loadings.catalogs }">
                        {{ t.pt('views.specifications.spacing') }}
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            {{ product?.projectProfile?.project?.projectProperties?.timePerLoad?.timePerLoadDesc }}
                            <select (change)="onChangeTimePerLoad(product, $event.target.value)" class="input behind">
                                <option value="" selected disabled hidden></option>
                                <option *ngFor="let entry of catalogs.TPL; let i = index" [value]="i">{{ entry.entryDesc }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="readyMixAdditionalServices && readyMixAdditionalServices.lenght">
                <div class="col-md-12 mt-3">
                    <label class="additional-services">{{ t.pt('views.specifications.aditional_services') }}</label>
                </div>
            </div>
            <div class="row" *ngIf="readyMixAdditionalServices && readyMixAdditionalServices.lenght">
                <div class="col-md-4" *ngFor="let rmxService of readyMixAdditionalServices; let i = index;">
                    <div class="group">
                        <div class="service">
                            <input (change)="changeAditionalService(product, $event.target, i)" type="checkbox" id="{{ rmxService.entryCode }}{{ index }}">
                            <label for="{{ rmxService.entryCode }}{{ index }}">
                                    <svg class="icon-checkbox-active">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox-active"></use>
                                    </svg>
                                    <svg class="icon-checkbox-static">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                    </svg>
                                    <svg class="icon-checkbox-hover">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                    </svg>
                                    <span>{{rmxService.entryDesc}}</span>
                                </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="group mt-3">
                        <label>{{ t.pt('views.specifications.delivery_mode') }}</label>
                        <div class="service">
                            <span *ngIf="UTILS.isDelivery()">{{ t.pt('views.specifications.delivery') }}</span>
                            <span *ngIf="UTILS.isPickup()">{{ t.pt('views.specifications.pickup') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3 flex-end">
                <button (click)="remove(index)" class="noborder">{{ t.pt('views.specifications.remove_product') }}</button>
            </div>
        </div>
    </ng-container>
</div>

<div class="flex-end mt-3 mb-100">
    <button (click)="add()" class="button" href="#">{{ t.pt('views.specifications.add_product') }}</button>
</div>

<!-- Modals -->
<modal id="search-product">
    <search-product (confirmed)="closeProductSearch()" (canceled)="closeProductSearch()"></search-product>
</modal>