<div class="products">
    <!-- Cement Mexico Delivery -->
    <ng-container *ngIf="true">
        <div class="product" [ngClass]="{ 
                'exit-animation': product.deleting, 
                'enter-animation': index > 0 }" *ngFor="let product of preProducts; let index = index;">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="group">
                        <label>
                            Product description
                        </label>
                        <div class="input product-selection dropdown" [ngClass]="{ disabled: loadings.products }">
                            <span class="selection">
                                {{ product.product?.commercialDesc }}
                                <select style="width: calc(100% - 80px);" [(ngModel)]="product.product" (ngModelChange)="productChanged($event)" class="input behind">
                                    <option *ngFor="let p of availableProducts" [ngValue]="p">{{ p?.commercialDesc  }}</option>
                                </select>
                            </span>
                            <span class="action" data-toggle="modal" data-target="#search-product">Change</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w60 mr-13">
                            <label>
                                Quantity
                            </label>
                            <div class="noselect input number-stepper">
                                <span (click)="qty(product, -1)" class="control minus"><span class="cmx-icon-minus"></span></span>
                                <span class="value">{{ product.quantity }}</span>
                                <span (click)="qty(product, 1)" class="control plus"><span class="cmx-icon-plus"></span></span>
                            </div>
                            <div class="info">
                                Maximum Capacity 100 tons
                            </div>
                        </div>
                        <div class="group w40">
                            <label>
                                Unit
                            </label>
                            <div class="input flex-space-between dropdown">
                                <span style="line-height: 24px;">
                                    {{ product.unit?.alternativeUnit.unitDesc }}
                                    <select [(ngModel)]="product.unit" class="input behind">
                                        <option *ngFor="let unit of availableUnits" [selected]="selectedProduct.unitOfMeasure?.unitId == unit.alternativeUnit.unitId" [ngValue]="unit">{{ unit.alternativeUnit.unitDesc }}</option>
                                    </select>
                                </span>
                                <span class="arrow cmx-icon-straight-arrow-down"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w50 mr-13">
                            <label>Request date</label>
                            <label for="date{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    {{ product.date | date: 'shortDate' }}
                                    <input id="date{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.date" ngui-datetime-picker date-only="true" />
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-calendar"></span></span>
                                </span>
                            </label>
                        </div>
                        <div class="group w50">
                            <label>Requested time</label>
                            <label for="time{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    <div class="time{{ index }}">{{ product.date | date: 'HH:mm' }}</div>
                                    <input id="time{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.date" ngui-datetime-picker time-only="true" right-side="true" [close-on-select]="false" hour="0" minute="0" />
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-clock"></span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md 4 mt-3">
                    <div class="group">
                        <label>Product ID</label>
                        <div class="input">
                            <span>{{ product?.product?.commercialCode }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mt-3">
                    <div class="group">
                        <label>Contract</label>
                        <div class="input contract dropdown flex-space-between" [ngClass]="{ disabled: loadings.contracts }">
                            <span class=""><strong>{{ product.contract?.salesDocument.salesDocumentCode }}</strong></span>
                            <span class="volume">
                                Remaining volume:
                                <strong *ngIf="product.contract.salesDocument.hasOwnProperty('volume')">{{ product.contract?.salesDocument.volume?.total.quantity.amount }}</strong>
                            </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                            <select 
                                [(ngModel)]="product.contract"
                                (ngModelChange)="contractChanged($event)"
                                class="input behind">
                                <option *ngFor="let contract of availableContracts; let first = first;" [ngValue]="contract">{{ contract.salesDocument?.salesDocumentCode }} &nbsp;&nbsp;&nbsp;&nbsp;  Remaining volume: {{ contract.salesDocument?.volume?.total.quantity.amount }} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="group">
                        <label>Payment</label>
                        <div class="input flex-space-between dropdown">
                            <span>
                                {{ product.payment?.name }}
                                <select [(ngModel)]="product.payment" class="input behind">
                                    <option selected *ngFor="let payment of availablePayments" [ngValue]="payment">{{ payment.name }}</option>
                                </select>
                                </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="group">
                        <label>Additional services</label>
                        <div class="service">
                            <input [(ngModel)]="product.maneuvering" checked type="checkbox" id="maneuvering{{ index }}">
                            <label for="maneuvering{{ index }}">
                                <svg class="icon-checkbox-active">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox-active"></use>
                                </svg>
                                <svg class="icon-checkbox-static">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                </svg>
                                <svg class="icon-checkbox-hover">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                </svg>
                                <span>Maneuvering</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="group">
                        <label>Delivery Mode</label>
                        <div class="service">
                            <span>Delivery</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3 flex-end">
                    <button (click)="remove(index)" class="noborder">Remove product</button>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Cement Mexico Pickup -->
    <ng-container *ngIf="false">
        <div class="product" [ngClass]="{ 
            'exit-animation': product.deleting, 
            'enter-animation': index > 0 }" *ngFor="let product of preProducts; let index = index;">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="group">
                        <label>
                            Product description
                        </label>
                        <div class="input product-selection dropdown">
                            <span class="selection">
                                {{ product.product.name }}
                                <select style="width: calc(100% - 80px);" [(ngModel)]="product.product" class="input behind">
                                    <option *ngFor="let p of availableProducts" [ngValue]="p">{{ p.name  }}</option>
                                </select>
                            </span>
                            <span class="action" data-toggle="modal" data-target="#search-product">Change</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w60 mr-13">
                            <label>
                                    Quantity
                                </label>
                            <div class="noselect input number-stepper">
                                <span (click)="qty(product, -1)" class="control minus"><span class="cmx-icon-minus"></span></span>
                                <span class="value">{{ product.quantity }}</span>
                                <span (click)="qty(product, 1)" class="control plus"><span class="cmx-icon-plus"></span></span>
                            </div>
                            <div class="info">
                                Maximum Capacity 100 tons
                            </div>
                        </div>
                        <div class="group w40">
                            <label>
                                Unit
                            </label>
                            <div class="input flex-space-between dropdown">
                                <span style="line-height: 24px;">
                                    {{ product.unit?.name }}
                                    <select [(ngModel)]="product.unit" class="input behind">
                                        <option *ngFor="let unit of availableUnits" [ngValue]="unit">{{ unit.name  }}</option>
                                    </select>
                                </span>
                                <span class="arrow cmx-icon-straight-arrow-down"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w50 mr-13">
                            <label>Request date</label>
                            <label for="date{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    {{ product.date | date:'dd.MM.y' }}
                                    <input id="date{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.date" ngui-datetime-picker date-only="true" />
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-calendar"></span></span>
                                </span>
                            </label>
                        </div>
                        <div class="group w50">
                            <label>Requested time</label>
                            <label for="time{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    {{ product.time }}
                                    <input id="time{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.time" ngui-datetime-picker time-only="true" right-side="true" [close-on-select]="false" hour="0" minute="0" />
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-clock"></span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md 4 mt-3">
                    <div class="group">
                        <label>Product ID</label>
                        <div class="input">
                            <span>20939302/10292/10102</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mt-3">
                    <div class="group">
                        <label>Contract</label>
                        <div class="input contract dropdown flex-space-between" [ngClass]="{ disabled: loadings.contracts }">
                            <span class=""><strong>{{ product.contract?.name }}</strong></span>
                            <span class="volume">Remaining volume: <strong>{{ product.contract?.volume }}</strong></span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                            <select [(ngModel)]="product.contract" class="input behind">
                                <option *ngFor="let contract of availableContracts; let first = first;" [ngValue]="contract">{{ contract.name }} &nbsp;&nbsp;&nbsp;&nbsp;  Volume: {{ contract.volume }} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="group">
                        <label>Payment</label>
                        <div class="input flex-space-between dropdown">
                            <span>
                                {{ product.payment?.name }}
                                <select [(ngModel)]="product.payment" class="input behind">
                                    <option selected *ngFor="let payment of availablePayments" [ngValue]="payment">{{ payment.name }}</option>
                                </select>
                            </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-3">
                    <div class="flex-container justify-content-between">
                        <div class="group">
                            <label>Additional services</label>
                            <div class="service spaced-top">
                                <input [(ngModel)]="product.maneuvering" checked type="checkbox" id="maneuvering{{ index }}">
                                <label for="maneuvering{{ index }}">
                                    <svg class="icon-checkbox-active">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox-active"></use>
                                    </svg>
                                    <svg class="icon-checkbox-static">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                    </svg>
                                    <svg class="icon-checkbox-hover">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                    </svg>
                                    <span>Maneuvering</span>
                                </label>
                            </div>
                        </div>
                        <div class="group">
                            <label>Delivery Mode</label>
                            <div class="service spaced-top">
                                <span>Delivery</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mt-3">
                    <div class="group">
                        <label>Plant</label>
                        <div class="input contract dropdown flex-space-between">
                            <span class="">
                                {{ product.plant.name }}
                                <select [(ngModel)]="product.plant" class="input behind">
                                    <option *ngFor="let plant of availablePlants" [ngValue]="plant">{{ plant.name }}</option>
                                </select>
                            </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3 flex-end">
                    <button (click)="remove(index)" class="noborder">Remove product</button>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Readymix Mexico Delivery -->
    <ng-container *ngIf="false">
        <div class="product" [ngClass]="{ 
                'exit-animation': product.deleting, 
                'enter-animation': index > 0 }" *ngFor="let product of preProducts; let index = index;">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="group">
                        <label>
                            Product description
                        </label>
                        <div class="input product-selection dropdown">
                            <span class="selection">
                                {{ product.product.name }}
                                <select style="width: calc(100% - 80px);" [(ngModel)]="product.product" class="input behind">
                                    <option *ngFor="let p of availableProducts" [ngValue]="p">{{ p.name }}</option>
                                </select>
                            </span>
                            <span class="action" data-toggle="modal" data-target="#search-product">Change</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w60 mr-13">
                            <label>
                                Quantity
                            </label>
                            <div class="noselect input number-stepper">
                                <span (click)="qty(product, -1)" class="control minus"><span class="cmx-icon-minus"></span></span>
                                <span class="value">{{ product.quantity }}</span>
                                <span (click)="qty(product, 1)" class="control plus"><span class="cmx-icon-plus"></span></span>
                            </div>
                            <div class="info">
                                Maximum Capacity 100 tons
                            </div>
                        </div>
                        <div class="group w40">
                            <label>
                                Unit
                            </label>
                            <div class="input flex-space-between dropdown">
                                <span style="line-height: 24px;">
                                    {{ product.unit?.unitDesc }}
                                    <select [(ngModel)]="product.unit" class="input behind">
                                        <option *ngFor="let unit of availableUnits" [ngValue]="unit">{{ unit.unitDesc }}</option>
                                    </select>
                                </span>
                                <span class="arrow cmx-icon-straight-arrow-down"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 mt-3-md-down">
                    <div class="flex-container">
                        <div class="group w50 mr-13">
                            <label>Request date</label>
                            <label for="date{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    {{ product.date | date:'dd.MM.y' }}
                                    <input id="date{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.date" ngui-datetime-picker date-only="true" />
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-calendar"></span></span>
                                </span>
                            </label>
                        </div>
                        <div class="group w50">
                            <label>Requested time</label>
                            <label for="time{{ index }}" class="input flex-space-between nopadding">
                                <span class="mb-0 value">
                                    {{ product.time }}
                                    <input id="time{{ index }}" class="behind clean-input" type="text" readonly [(ngModel)]="product.time" ngui-datetime-picker time-only="true" right-side="true" [close-on-select]="false" hour="0" minute="0" />
                                </span>
                                <span class="mb-0">
                                    <span class="icon"><span class="cmx-icon-clock"></span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="group">
                        <label>Product ID</label>
                        <div class="input">
                            <span>20939302/10292/10102</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mt-3">
                    <div class="group">
                        <label>Contract</label>
                        <div class="input contract dropdown flex-space-between">
                            <span class=""><strong>{{ product.contract?.name }}</strong></span>
                            <span class="volume">Remaining volume: <strong>{{ product.contract?.volume }}</strong></span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                            <select [(ngModel)]="product.contract" class="input behind">
                                <option *ngFor="let contract of availableContracts; let first = first;" [ngValue]="contract">{{ contract.name }} &nbsp;&nbsp;&nbsp;&nbsp;  Volume: {{ contract.volume }} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="group">
                        <label>Project profile</label>
                        <div class="input flex-space-between dropdown">
                            <span>
                                Select project profile to prefill specifications
                                <select [(ngModel)]="product.payment" class="input behind">
                                    <option>Project profile 1</option>
                                    <option>Project profile 2</option>
                                </select>
                                </span>
                            <span class="arrow cmx-icon-straight-arrow-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap rdymx-specs">
                <div class="group disabled">
                    <label>
                        Discharge Time
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            <select [(ngModel)]="product.unit" class="input behind">
                                <option *ngFor="let unit of availableUnits" [ngValue]="unit">{{ unit.name  }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group disabled">
                    <label>
                        Transport Method
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            <select [(ngModel)]="product.unit" class="input behind">
                                <option *ngFor="let unit of availableUnits" [ngValue]="unit">{{ unit.name  }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group disabled">
                    <label>
                        Unload Type
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            <select [(ngModel)]="product.unit" class="input behind">
                                <option *ngFor="let unit of availableUnits" [ngValue]="unit">{{ unit.name  }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group disabled">
                    <label>
                        Pump Capacity Min
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            <select [(ngModel)]="product.unit" class="input behind">
                                <option *ngFor="let unit of availableUnits" [ngValue]="unit">{{ unit.name  }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group disabled">
                    <label>
                        Pump Capacity Max
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">     
                            <select [(ngModel)]="product.unit" class="input behind">
                                <option *ngFor="let unit of availableUnits" [ngValue]="unit">{{ unit.name  }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group disabled">
                    <label>
                        Aplication
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            
                            <select [(ngModel)]="product.unit" class="input behind">
                                <option *ngFor="let unit of availableUnits" [ngValue]="unit">{{ unit.name  }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group disabled">
                    <label>
                        Load Size
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            
                            <select [(ngModel)]="product.unit" class="input behind">
                                <option *ngFor="let unit of availableUnits" [ngValue]="unit">{{ unit.name  }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
                <div class="group disabled">
                    <label>
                        Spacing
                    </label>
                    <div class="input flex-space-between dropdown">
                        <span style="line-height: 24px;">
                            
                            <select [(ngModel)]="product.unit" class="input behind">
                                <option *ngFor="let unit of availableUnits" [ngValue]="unit">{{ unit.name  }}</option>
                            </select>
                        </span>
                        <span class="arrow cmx-icon-straight-arrow-down"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="group">
                        <label>Additional services</label>
                        <div class="service">
                            <input [(ngModel)]="product.maneuvering" checked type="checkbox" id="maneuvering{{ index }}">
                            <label for="maneuvering{{ index }}">
                                <svg class="icon-checkbox-active">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox-active"></use>
                                </svg>
                                <svg class="icon-checkbox-static">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                </svg>
                                <svg class="icon-checkbox-hover">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                                </svg>
                                <span>Maneuvering</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="group">
                        <label>Delivery Mode</label>
                        <div class="service">
                            <span>Delivery</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3 flex-end">
                    <button (click)="remove(index)" class="noborder">Remove product</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div class="flex-end mt-3 mb-100">
    <button (click)="add()" class="button" href="#">+ Add Product</button>
</div>