.specs-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.prod-card {
    display: flex;
    width: 100%;
    height: 35%;
    border-radius: 3px;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    margin: 5px;
}

.prod-card .product-cement-mexico {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    div {
        display: flex;
        flex-direction: column;
        margin: 5px;
        input {
            width: 100%;
            border: 1px solid #D7D7D7;
            border-radius: 2px;
            font-size: 14px;
            padding: 8px;
        }
        span {
            width: auto;
            color: #9CA4AE;
            font-family: Roboto;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 5px;
        }
        .additional-services-div {
            flex-direction: row;
            align-items: center;
            margin-top: 0px;
            .checkAdditional {
                display: block;
                width: 10%;
            }
            .additional-value {
                color: #2A2A2A;
                font-size: 14px;
                line-height: 19px;
                font-family: Roboto;
                align-content: baseline;
                margin-top: 5px;
            }
        }
        .prod-field-value {
            color: #2A2A2A;
            font-size: 14px;
            line-height: 19px;
            font-family: Roboto;
            align-content: baseline;
            margin-top: 5px;
        }
    }
    .div-sep {
        width: 5px;
        margin: 0px;
        .separator {
            border-left: 1px solid #D2D2D2;
            height: 20px;
            margin-top: 30px;
            align-self: center;
        }
    }
    .action-remove {
        display: flex;
        justify-content: flex-start;
        flex-grow: 2;
        align-items: flex-end;
        margin-top: 20px;
        .button-remove {
            width: 50%;
        }
    }
}

.prod-card .product-cement-mexico-lt-sm {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    div {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 5px;
        width: 100%;
        input {
            border: 1px solid #D7D7D7;
            border-radius: 2px;
            width: 100%;
            height: 48px;
            font-size: 16px;
            padding: 8px;
        }
        span {
            width: auto;
            color: #9CA4AE;
            font-family: Roboto;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 5px;
        }
        .additional-services-div {
            flex-direction: row;
            align-items: center;
            margin-top: 0px;
            .checkAdditional {
                display: block;
                width: 10%;
            }
            .additional-value {
                color: #2A2A2A;
                font-size: 14px;
                line-height: 19px;
                font-family: Roboto;
                align-content: baseline;
                margin-top: 5px;
            }
        }
        .prod-field-value {
            color: #2A2A2A;
            font-size: 14px;
            line-height: 19px;
            font-family: Roboto;
            align-content: baseline;
            margin-top: 5px;
        }
    }
    .div-sep {
        width: 100%;
        height: 1px;
        margin: 3px;
        .separator {
            border-bottom: 1px solid #D2D2D2;
            height: 1px;
            width: 100%;
            /*margin-top: 30px;*/
            align-self: center;
        }
    }
}

.description {
    width: 25%;
}

.quantity {
    width: 15%;
}

.unit {
    width: 10%;
}

.requestdate {
    width: 21%;
}

.requesttime {
    width: 21%;
}

.contract {
    width: 27.5%;
}

.payment {
    width: 27.5%;
}

.max-capacity {
    width: 14%;
    .max-capacity-value {
        color: #2A2A2A!important;
        font-size: 14px!important;
        line-height: 19px!important;
        align-content: baseline;
        margin-top: 5px;
    }
}

.additional-services {
    width: 30%;
}


/*.additional-services-div {
    flex-direction: row;
    align-items: center;
}

.additional-services-div .checkAdditional {
    display: block;
    width: 10%;
}*/


/*
.additional-value {
    color: #2A2A2A!important;
    font-size: 14px!important;
    line-height: 19px!important;
    font-family: Roboto;
    align-content: baseline;
    margin-top: 5px;
}*/

.transport-method {
    width: 30%;
}

.form-group {
  .number-field-wrapper {
    .number-field-btn {
      margin-bottom: 0!important;
    }
  }
}