<button (click)="openModal()" data-toggle="modal" data-target="#search-product" class="button-ghost">Search product</button>
<div class="specs-content">
    <!-- CEMENT  -->
    <div class="container prod-card cement" *ngFor="let specification of _cementPackageList">
        <div class="row">
            <div class="col-md-4 description">
                <div class="form-group">
                    <label for="product">Product Description</label>
                    <select id="product" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.productDescription">
                        <option value={{specification.productDescription}}>{{specification.productDescription}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 quantity">
                <div class="form-group">
                    <div class="number-field-wrapper">
                        <label for="number-field">Quantity</label>
                        <input id="number-field" class="form-control number-control" [(ngModel)]="specification.quantity" type="number" value="" placeholder="0" min="1" max="" />
                        <span class="number-field-btn minus-btn">
                            <button type="button">
                                <svg class="icon-minus-basic">
                                    <use xlink:href="#icon-minus-basic"></use>
                                </svg>
                            </button>
                        </span>
                        <span class="number-field-btn plus-btn">
                            <button type="button">
                                <svg class="icon-plus-basic">
                                    <use xlink:href="#icon-plus-basic"></use>
                                </svg>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 prod-field unit">
                <div class="form-group">
                    <label for="country-field">Unit</label>
                    <select id="country-field" class="form-control" [(ngModel)]="specification.unit">
                        <option value="1" selected>tons</option>
                        <option value="2">m3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 requestdate">
                <div class="form-group">
                    <label for="request-date">Request Date</label>
                    <input type="text" readonly [(ngModel)]="myDate" ngui-datetime-picker date-only="true" />
                </div>
            </div>
            <div class="col-md-2 requesttime">
                <div class="form-group">
                    <label for="request-date">Request Time</label>
                    <input type="text" readonly [(ngModel)]="myTime" ngui-datetime-picker time-only="true" right-side="true" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 productId">
                <div class="form-group">
                    <label for="productId">Product ID</label>
                    <input type="text" class="form-control" id="productId" [(ngModel)]="specification.productId" />
                </div>
            </div>
            <div class="col-md-2 max-capacity">
                <div class="form-group">
                    <label>Maximum Capacity</label>
                </div>
                <span class="prod-field-value">{{specification.maximumCapacity}} tons</span>
            </div>
            <div class="col-md-3 contract">
                <div class="form-group">
                    <label for="contract">Contract</label>
                    <select id="contract" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.contract">
                        <option value={{specification.contract}}>{{specification.contract}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 payment">
                <div class="form-group">
                    <label for="payment">Payment</label>
                    <select id="payment" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.payment">
                        <option value={{specification.payment}}>{{specification.payment}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 additional-services">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Additional services</label>
                    </div>
                    <div class="col-md-12 additional-services-div">
                        <input type="checkbox" class="checkAdditional">
                        <span class="additional-value">Maneuvering</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 transport-method">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Delivery Mode</label>
                    </div>
                    <span class="col-md-12 prod-field-value">{{specification.deliveryMode}}</span>
                </div>
            </div>
            <div class="col-md-6 plant">
                <div class="form-group">
                    <label for="payment">Plant</label>
                    <select id="payment" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.plant">
                        <option value={{specification.plant}}>{{specification.plant}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 col-sm-offset-10">
                <div class="action-remove">
                    <button cmx-button-link>REMOVE PRODUCT</button>
                </div>
            </div>
        </div>
    </div>


    <!-- READYMIX  -->
    <div class="container prod-card readymix" *ngFor="let specification of _readymix">
        <div class="row">
            <div class="col-md-4 description">
                <div class="form-group">
                    <label for="product">Product Description</label>
                    <select id="product" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.productDescription">
                        <option value={{specification.productDescription}}>{{specification.productDescription}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 quantity">
                <div class="form-group">
                    <div class="number-field-wrapper">
                        <label for="number-field">Quantity</label>
                        <input id="number-field" class="form-control number-control" [(ngModel)]="specification.quantity" type="number" value="" placeholder="0" min="" max="" />
                        <span class="number-field-btn minus-btn">
                            <button type="button">
                                <svg class="icon-minus-basic">
                                    <use xlink:href="#icon-minus-basic"></use>
                                </svg>
                            </button>
                        </span>
                        <span class="number-field-btn plus-btn">
                            <button type="button">
                                <svg class="icon-plus-basic">
                                    <use xlink:href="#icon-plus-basic"></use>
                                </svg>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 prod-field unit">
                <div class="form-group">
                    <label for="country-field">Unit</label>
                    <select id="country-field" class="form-control" [(ngModel)]="specification.unit">
                        <option value="1" selected>tons</option>
                        <option value="2">m3</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2 requestdate">
                <div class="form-group">
                    <label for="request-date">Request Date</label>
                    <input type="text" class="form-control" id="request-date" [(ngModel)]="specification.requestDate" />
                </div>
            </div>
            <div class="col-md-2 requesttime">
                <div class="form-group">
                    <label for="request-date">Request Time</label>
                    <input type="text" class="form-control" id="request-date" [(ngModel)]="specification.requestTime" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 productId">
                <div class="form-group">
                    <label for="productId">Product ID</label>
                    <input type="text" class="form-control" id="productId" [(ngModel)]="specification.productId" />
                </div>
            </div>
            <div class="col-md-4 contract">
                <div class="form-group">
                    <label for="contract">Contract</label>
                    <select id="contract" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.contract">
                        <option value={{specification.contract}}>{{specification.contract}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 projectProfile">
                <div class="form-group">
                    <label for="projectProfile">Project Profile</label>
                    <select id="projectProfile" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.projectProfile">
                        <option value={{specification.projectProfile.id}} selected>{{specification.projectProfile.name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row project-profile-fields">
            <div class="col-md-2 aplication">
                <div class="form-group">
                    <label for="aplication">Aplication</label>
                    <select id="aplication" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.projectProfile.aplication">
                        <option value={{specification.projectProfile.aplication}} selected>{{specification.projectProfile.aplication}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 loadSize">
                <div class="form-group">
                    <label for="loadSize">Load Size</label>
                    <select id="loadSize" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.projectProfile.loadSize">
                        <option value={{specification.projectProfile.loadSize}} selected>{{specification.projectProfile.loadSize}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 spacing">
                <div class="form-group">
                    <label for="spacing">Spacing</label>
                    <select id="spacing" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.projectProfile.spacing">
                        <option value={{specification.projectProfile.spacing}} selected>{{specification.projectProfile.spacing}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 slump" *ngIf="isMx">
                <div class="form-group">
                    <label for="slump">Slump</label>
                    <select id="slump" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.projectProfile.slump">
                        <option value={{specification.projectProfile.slump}} selected>{{specification.projectProfile.slump}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 discarge-time" *ngIf="isMx">
                <div class="form-group">
                    <label for="dischargeTime">Discharge Time</label>
                    <select id="dischargeTime" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.projectProfile.dischargeTime">
                        <option value={{specification.projectProfile.dischargeTime}} selected>{{specification.projectProfile.dischargeTime}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 transport-method" *ngIf="isMx">
                <div class="form-group">
                    <label for="transportMethod">Transport Method</label>
                    <select id="transportMethod" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.projectProfile.transportMethod">
                        <option value={{specification.projectProfile.transportMethod}} selected>{{specification.transportMethod}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 unload-type" *ngIf="isMx">
                <div class="form-group">
                    <label for="unloadType">Unload Type</label>
                    <select id="unloadType" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.projectProfile.unloadType">
                        <option value={{specification.projectProfile.unloadType}} selected>{{specification.projectProfile.unloadType}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 pump-capacity-min" *ngIf="isMx">
                <div class="form-group">
                    <label for="pumpCapacityMin">Pump Capacity Min</label>
                    <select id="pumpCapacityMin" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.projectProfile.pumpCapacityMin">
                        <option value={{specification.projectProfile.pumpCapacityMin}} selected>{{specification.projectProfile.pumpCapacityMin}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 pump-capacity-max" *ngIf="isMx">
                <div class="form-group">
                    <label for="pumpCapacityMax">Pump Capacity Max</label>
                    <select id="pumpCapacityMax" class="form-control" [ngClass]="{ 'nice-selection': nice }" [(ngModel)]="specification.projectProfile.pumpCapacityMax">
                        <option value={{specification.projectProfile.pumpCapacityMax}} selected>{{specification.projectProfile.pumpCapacityMax}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 additional-services">
                <div class="form-group">
                    <label>Additional services</label>
                </div>
                <div class="row">
                    <div class="col-md-3 additional-services-div">
                        <input type="checkbox" class="checkAdditional">
                        <span class="additional-value">Extra hours</span>
                    </div>
                    <div class="col-md-3 additional-services-div">
                        <input type="checkbox" class="checkAdditional">
                        <span class="additional-value">Sunday / Holiday service</span>
                    </div>
                    <div class="col-md-3 additional-services-div">
                        <input type="checkbox" class="checkAdditional">
                        <span class="additional-value">Pipeline</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 transport-method">
                <div class="form-group">
                    <label>Delivery Mode</label>
                </div>
                <span class="prod-field-value">{{specification.deliveryMode}}</span>
            </div>
            <div class="col-md-2 Kicker">
                <input type="checkbox" class="checkAdditional">
                <span class="additional-value">Kicker</span>
            </div>
        </div>
        <div class="action-remove">
            <button cmx-button-link>REMOVE PRODUCT</button>
        </div>
    </div>
</div>