<header>
    <nav class="main-nav-bar fixed">
        <div class="main-nav-items left hidden-md-up">
            <div class="main-nav-item hamburger-button" (click)="toggleMenu()">
                <div class="hamburger" [ngClass]="{open: open}">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div id="cmx-logo">
            <a href="#"><svg class="cmx-logo">
                <use xlink:href="#cmx-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
        </div>
        <!-- end cmx-logo -->
        <div class="main-nav-items">
            <div class="main-nav-item nav-notifications-item hidden-sm-down">
                <div class="notifications">
                    <div class="as-label">
                        Notifications
                    </div>
                    <div class="circle red-circle">
                        99
                    </div>
                </div>
                <div class="notifications-container">
                    <div class="notifications-list">
                        <div class="notification-entry">
                            <div class="notification-icon">
                                <svg class="icon-warning-red">
                                    <use xlink:href="#icon-warning" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                            </div>
                            <div class="notification-data">
                                <h5>CUSTOMER INFORMATION</h5>
                                <p>The jobsite <strong>Wilder Ranch</strong> has just been created. Would you like to place an order?</p><a class="call-to-action" href="#">ORDER</a>
                            </div>
                            <!-- end notification-data -->
                            <div class="horizontal-dotted"></div>
                        </div>
                        <!-- end notification-entry -->
                        <div class="notification-entry">
                            <div class="notification-icon">
                                <svg class="icon-warning-red">
                                    <use xlink:href="#icon-warning" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                            </div>
                            <div class="notification-data">
                                <h5>QUOTATION AND PRICING</h5>
                                <p><strong>2311112 - Rideback Eastern River Valley</strong> You have a new quotation ready for review.</p><a class="call-to-action" href="#">REVIEW</a>
                            </div>
                            <!-- end notification-data -->
                            <div class="horizontal-dotted"></div>
                        </div>
                        <!-- end notification-entry -->
                        <div class="notification-entry">
                            <div class="notification-icon">
                                <svg class="icon-warning-red">
                                    <use xlink:href="#icon-warning" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                            </div>
                            <div class="notification-data">
                                <h5>TRACK AND TRACE</h5>
                                <p>The delivery for <strong>Wilder Ranch Orinda</strong> is in jeopardy due to an accident on the interstate with no exit route.</p><a class="call-to-action" href="#">MANAGE</a>
                            </div>
                            <!-- end notification-data -->
                        </div>
                        <!-- end notification-entry -->
                    </div>
                    <!-- end notifications-list -->
                    <div class="horizontal-dotted"></div><a class="main-cta" href="">VIEW ALL NOTIFICATIONS</a>
                </div>
                <!-- end .notifications-container -->
            </div>
            <div class="vertical-bar hidden-sm-down"></div>
            <div class="dropdown" style="float: left; display: inline-block;  position: relative">
                <div class="user-logged" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="circle white-circle">
                        VT
                    </div>
                </div>
                <div class="dropdown-menu" aria-labelledby="" style="background: transparent; border: 0;">
                    <form action="">
                        <div class="user-logged-container" style="display:block">
                            <div class="arrow-up"></div>
                            <div class="circle deep-blue-circle">
                                VT
                            </div>
                            <div class="user-logged-details">
                                <h4>Viktor Thorstten</h4><span class="email">michael@wasserman.com</span>
                            </div>
                            <!-- end .user-logged-details -->
                            <div class="horizontal-dotted"></div>
                            <div class="call-to-action">
                                <a class="settings-link" href="#">General Settings</a> <a role="button" class="signout-link" (click)="firelogout()">Sign Out</a>
                            </div>
                            <!-- end .call-to-action -->
                        </div>
                    </form>
                </div>
            </div>

            <!-- end .user-logged-container -->
        </div>
        <!-- end .main-nav-items -->
        <!-- <div class="sub-nav-loader hidden-md-down"></div> -->
        <!-- end .sub-nav-loader -->
    </nav>
    <!-- <cmx-nav-header></cmx-nav-header> -->
</header>

<aside id="sidebar-wrapper">
    <nav class="side-nav-bar can-hide" [ngClass]="{open: open}">

        <div class="collapse-trigger opened-nav hidden-sm-down">
            <svg class="icon-left-double-silver">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-left-double"></use>
                    </svg>
        </div>

        <div class="expand-trigger hidden-nav">
            <svg class="icon-right-double-silver">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-double"></use>
                    </svg>
        </div>
        <div class="dropdown">
            <div role="button" class="legal-entity" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="legal-entity-name">Acme Construction</div>
                <div class="legal-entity-id">#1233312 &gt;</div>
            </div>
            <!-- <dropdown-search [collection]="entityItems" [keyTitle]="entityItemsTitle" [keySubtitle]="entityItemsSubtitle" [placeholder]="'Search by customer'" (onSelectItem)="fireSelectDropdown($event)" class="dropdown-menu"></dropdown-search> -->
        </div>
        <ul>
            <li>
                <a href="#"><span class="icon"><svg class="icon-sidemenu">
                <use xlink:href="#icon-control-center" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Control Center</span></a>
            </li>
            <li>
                <a href="#"><span class="icon"><svg class="icon-sidemenu">
                <use xlink:href="#icon-pricing" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label roboto-bold">Commercial Conditions</span></a>
            </li>
            <li>
                <a class="active" routerLink="orders"><span class="icon"><svg class="icon-sidemenu">
                <use xlink:href="#icon-orders" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Orders</span></a>
                <ul class="side-subnav">
                    <li>
                        <a routerLink="drafts">Drafts</a>
                    </li>
                    <li>
                        <a routerLink="project-profiles">Project profiles</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="icon"><svg class="icon-sidemenu">
                <use xlink:href="#icon-invoicing" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Invoices</span></a>
            </li>
        </ul>
    </nav>
</aside>