<!-- Responsive table starts here -->
<!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
<div *ngIf="isLoading">
    <p>{{ t.pt('views.common.loading') }}...</p>
</div>
<div *ngIf="!isLoading && orders?.length == 0">
    <p>{{ t.pt('views.common.no_orders') }}</p>
</div>
<div class="orders" *ngIf="!isLoading && orders?.length > 0">
    <div class="table-responsive-vertical shadow-z-1">
        <!-- Table starts here -->
        <table id="table" class="table table-fixed main table-hover table-striped">
            <thead>
                <tr>
                    <th width="4%"></th>
                    <th width="15%">
                        {{ t.pt('views.table.submitted') }}
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="20%">
                        {{ t.pt('views.table.submitted_by') }}
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="10%">
                        {{ t.pt('views.table.items') }}
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="10%">
                        {{ t.pt('views.table.products') }}
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="20%">
                        {{ t.pt('views.table.status') }}
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="15%">
                        {{ t.pt('views.table.total') }}
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="7%">
                        <i class="star cmx-icon-favourite-active" aria-hidden="true"></i>
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let order of orders; let index = index">
                    <tr>
                        <td data-toggle="collapse" [attr.data-target]="'#details-order' + index" class="hidden-md-down expand collapsed"></td>
                        <td data-title="Submitted">{{order.orderRequest.viewedAt}}</td>
                        <td data-title="Submitted by">{{order.orderRequest.orderRequestedBy}}</td>
                        <td data-title="Items">{{order.orderRequest.orderRequestItems.length}}</td>
                        <td data-title="Products" class="products">
                            <i *ngIf="order.isReadyMix()" class="cmx-icon-ready-mix" aria-hidden="true"></i>
                            <!-- TODO add cement packed/bagged icons -->
                            <i *ngIf="order.isCement()" class="cmx-icon-bag-cement" aria-hidden="true"></i>
                            <i *ngIf="order.isAggregates()" class="cmx-icon-aggregates" aria-hidden="true"></i>
                        </td>
                        <td data-title="Status"><span class="status in-progress"></span>{{order.orderRequest.orderRequestStatus.statusDesc}}</td>
                        <!-- TODO numberal parser -->
                        <td data-title="Total amount">${{order.orderRequest.totalAmount}}</td>
                        <td data-title="Favorite">
                            <i class="star cmx-icon-favourite-active" [class.active]="order.orderRequest.isFavorite" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr class="hidden-md-down sub sub-row">
                        <td colspan="8">
                            <div class="collapse details" id="details-order{{index}}">
                                <div class="content">
                                    <table class="table table-fixed details-table">
                                        <thead>
                                            <th width="15%">{{ t.pt('views.table.order_no') }}</th>
                                            <th width="15%">{{ t.pt('views.table.location') }}</th>
                                            <th width="10%">{{ t.pt('views.table.products') }}</th>
                                            <th width="10%">{{ t.pt('views.table.amount') }}</th>
                                            <th width="25%">{{ t.pt('views.table.delivery_date') }}</th>
                                            <th width="10%">{{ t.pt('views.table.payment') }}</th>
                                            <th width="10%">{{ t.pt('views.table.payment') }}</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let orderRequestItem of order.orderRequest.orderRequestItems" class="order">
                                                <td class="number">{{orderRequestItem.orderRequestItemId}}</td>
                                                <td>{{orderRequestItem.pointOfDelivery.pointOfDeliveryDesc}}</td>
                                                <td class="product"><i class="cmx-icon-driver" aria-hidden="true"></i></td>
                                                <td>10 Tons</td>
                                                <td>31/12/2017, 15:00</td>
                                                <td>Cash</td>
                                                <td class="payment">${{orderRequestItem.itemAmount}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="hidden-md-down sub separator"></tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pagination">
                <pagination [totalPages]="10" [currentPage]="1" (changePage)="changePage($event)"></pagination>
            </div>
        </div>
    </div>
</div>