<!-- <div class="table-header hidden-lg-up">
    <span class="roboto-bold date-text">JANUARY  15 - 21, 2017</span>
</div> -->
<div class="mobile-scheduler hidden-lg-up">
    <div class="mobile-scheduler-header">
        <a class="prev">
            <svg class="icon-left-single">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-left-single"></use>
            </svg>
        </a>
        <!-- end .prev -->

        <div class="current">January 9-15, 2017</div>

        <a class="next">
            <svg class="icon-right-single">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-single"></use>
            </svg>
        </a>
        <!-- end .next -->
    </div>
    <!-- end .mobile-scheduler-header -->
</div>
<div class="sub-nav-loader hidden-lg-up"></div>

<div class="layout">
    <breadcrumbs>
        <breadcrumbs-item link="../orders">Orders</breadcrumbs-item>
        <breadcrumbs-item>History</breadcrumbs-item>
    </breadcrumbs>
    <div class="title-container row align-items-center">
        <div class="col-sm-8">
            <h1>All locations</h1>
            <svg class="icon-down-single-black">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use>
            </svg>
        </div>
        <div class="cto-container col-sm-4">
            <div class="float-sm-right">
                <a class="button-ghost" routerLink="../new">Request order</a>
            </div>
        </div>
    </div>

    <!-- <div>
        {{orders | json}}
    </div> -->
    <!-- <p>{{isLoading | async}}</p>
     <ul>
        <li *ngFor="let item of orders | async">{{item | json}} {{item.isCanceled()}}</li>
    </ul>  -->
    <orders-table [orders]="orders | async" [isLoading]="isLoading | async"></orders-table>
</div>