@import "~bootstrap/scss/bootstrap-grid.scss";
@import "../../scss/responsive.scss";
$link-blue: #3FA9F5;
.layout {
    padding: 34px 26px 34px 26px;
    @include media-breakpoint-down(sm) {
        padding: 34px 17px 34px 17px;
    }
}

.title-container {
    padding-top: 7px;
    padding-bottom: 16px;
    h1 {
        display: inline;
    }
    .icon-down-single-black {
        height: 8px;
        width: 17px;
        vertical-align: 10px;
        margin-left: 11px;
    }
}

.table-header {
    height: 54px;
    border-radius: 2px;
    margin-bottom: 16px;
    background-color: #002a59;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .date-text {
        color: #FFFFFF;
        font-size: 16px;
        line-height: 18px;
    }
}

.cto-container {
    &.center-with-steps a {
        margin-bottom: 16px;
    }
    a:not(:last-child) {
        margin-right: 8px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 16px;
    }
}