@import "~bootstrap/scss/bootstrap-grid.scss";
@import "../../scss/responsive.scss";
$sidebar-width: 160px;
$header-height: 54px;
$dashboard-index: 9999;
nav.fixed {
    position: fixed;
    z-index: $dashboard-index;
}

nav.side-nav-bar {
    position: fixed;
    top: $header-height;
    height: 100%;
    z-index: $dashboard-index;
    transition: all 0.25s ease-in-out;
    &.moved {
        transform: translateX(-$sidebar-width);
    }
}

.content {
    padding-left: $sidebar-width;
    padding-top: $header-height;
    transition: all 0.25s ease-in-out;
    &.moved {
        padding-left: 0px;
    }
}

.side-nav-bar ul li .active {
    background-image: linear-gradient(90deg, #021A35 43px, #092448 0);
}

.side-nav-bar ul .side-subnav li a {
    padding: 14px 12px;
}

.side-nav-bar ul li a+ul li a {
    font-size: 14px;
    line-height: 16px;
    padding-right: 10px;
}

.side-nav-bar ul li a+ul li:last-child a {
    padding-bottom: 20px;
}

.side-nav-bar ul li .active+ul li a {
    background-color: #092448;
}

.side-nav-bar ul .side-subnav li {
    border-bottom: 0;
}

// Outside of classes to optimize a little
@include media-breakpoint-down(md) {
    nav.side-nav-bar {
        display: none;
    }
    .content {
        padding-left: 0;
        padding-top: $header-height;
    }
}

@include media-breakpoint-down(xs) {
    .cmx-logo {
        display: none;
    }
}