<!-- <navigation [customers]="customers" [notifications]="[]" (logout)="logout($event)" (customerChange)="setCustomer($event)"></navigation> -->
<cmx-nav-header (onLogout)="logout($event)" (clickMenuButton)="clickMenuButton($event)"></cmx-nav-header>
<cmx-sidebar></cmx-sidebar>

<div id="layout" class="content">
    <div class="alert-bar {{ alertClass(alert) }}" [ngClass]="{ open: showAlert }">
        <p *ngIf="!alert.translation">{{ alert.text }}</p>
        <p *ngIf="alert.translation">{{ t.pt(alert.text) }}</p>
        <span (click)="closeAlert()" class="close">
            <svg class="icon-close-black">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
            </svg>
        </span>
    </div>
    <router-outlet></router-outlet>
</div>

<!-- app-footer not used anymore -->
<cmx-footer class="hidden-sm-down"></cmx-footer>