@import "~bootstrap/scss/bootstrap-grid.scss";
@import "../../scss/responsive.scss";
$sidebar-width: 160px;
$header-height: 54px;
$dashboard-index: 100;
$footer-height: 24px;
nav.fixed {
    position: fixed;
    z-index: $dashboard-index;
}

nav.side-nav-bar {
    position: fixed;
    top: $header-height;
    height: 100%;
    z-index: $dashboard-index + 1;
    transition: all 0.25s ease-in-out;
    &.moved {
        transform: translateX(-$sidebar-width);
    }
}

.content {
    padding-left: $sidebar-width;
    padding-top: $header-height;
    padding-bottom: $footer-height;
    transition: all 0.25s ease-in-out;
    &.moved {
        padding-left: 0px;
    }
}

.side-nav-bar ul li .active {
    background-image: linear-gradient(90deg, #021A35 43px, #092448 0);
}

.side-nav-bar ul .side-subnav li a {
    padding: 14px 12px;
}

.side-nav-bar ul li a+ul li a {
    font-size: 14px;
    line-height: 16px;
    padding-right: 10px;
}

.side-nav-bar ul li a+ul li:last-child a {
    padding-bottom: 20px;
}

.side-nav-bar ul li .active+ul li a {
    background-color: #092448;
}

.side-nav-bar ul .side-subnav li {
    border-bottom: 0;
}

// Alert
.alert-bar {
    transform: translateY(-40px);
    width: calc(100% - 160px);
    position: fixed;
    transition: transform 0.2s ease;
    &.open {
        transform: translateY(0);
        z-index: $dashboard-index - 1;
    }
    p {
        padding: 13px 19px;
        float: left;
        line-height: .875rem;
        width: calc(100% - 46px);
        font-family: Roboto;
    }
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

// Outside of classes to optimize a little
@include media-breakpoint-down(md) {
    nav.side-nav-bar {
        display: none;
    }
    .content {
        padding-left: 0;
        padding-top: $header-height;
    }
}

@include media-breakpoint-down(xs) {
    .cmx-logo {
        display: none;
    }
}