<header>
    <cmx-nav-header></cmx-nav-header>
</header>
<aside id="sidebar-wrapper">
    <nav class="side-nav-bar can-hide">

        <div class="collapse-trigger opened-nav">
            <svg class="icon-left-double-silver">
	            	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-left-double"></use>
	            </svg>
        </div>

        <div class="expand-trigger hidden-nav">
            <svg class="icon-right-double-silver">
	            	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-right-double"></use>
	            </svg>
        </div>

        <div class="legal-entity">
            <div class="legal-entity-name">Acme Construction</div>
            <div class="legal-entity-id">#1233312 &gt;</div>
        </div>
        <ul>
            <li>
                <a href="#"><span class="icon"><svg class="icon-sidemenu">
            <use xlink:href="#icon-control-center" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Control Center</span></a>
            </li>
            <li>
                <a href="#"><span class="icon"><svg class="icon-sidemenu">
            <use xlink:href="#icon-pricing" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label roboto-bold">Commercial Conditions</span></a>
            </li>
            <li>
                <a class="active" routerLink="app/orders"><span class="icon"><svg class="icon-sidemenu">
            <use xlink:href="#icon-orders" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Orders</span></a>
                <ul class="side-subnav">
                    <li>
                        <a routerLink="app/orders">Project profile management</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="icon"><svg class="icon-sidemenu">
            <use xlink:href="#icon-invoicing" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span> <span class="as-label">Invoices</span></a>
            </li>
        </ul>
    </nav>
</aside>
<div id="layout" class="content">
    <router-outlet></router-outlet>
</div>