<navigation [notifications]="[]" (logout)="logout($event)"></navigation>

<div id="layout" class="content">
    <div class="alert-bar {{ alertClass(alert) }}" [ngClass]="{ open: showAlert }">
        <p>{{ alert.text }}</p>
        <span (click)="closeAlert()" class="close">
            <svg class="icon-close-black">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
            </svg>
        </span>
    </div>
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>