@import "~bootstrap/scss/bootstrap-grid.scss";
@import "../../scss/responsive.scss";
$sidebar-width: 160px;
$header-height: 54px;
$dashboard-index: 100;
$footer-height: 24px;
nav.fixed {
    position: fixed;
    z-index: $dashboard-index;
}

nav.side-nav-bar {
    position: fixed;
    top: $header-height;
    height: 100%;
    z-index: $dashboard-index + 1;
    transition: all 0.25s ease-in-out;
    &.moved {
        transform: translateX(-$sidebar-width);
    }
}

.content {
    padding-left: $sidebar-width;
    padding-top: $header-height;
    padding-bottom: $footer-height;
    transition: all 0.25s ease-in-out;
    &.moved {
        padding-left: 0px;
    }
}

.side-nav-bar ul li .active {
    background-image: linear-gradient(90deg, #021A35 43px, #092448 0);
}

.side-nav-bar ul .side-subnav li a {
    padding: 14px 12px;
}

.side-nav-bar ul li a+ul li a {
    font-size: 14px;
    line-height: 16px;
    padding-right: 10px;
}

.side-nav-bar ul li a+ul li:last-child a {
    padding-bottom: 20px;
}

.side-nav-bar ul li .active+ul li a {
    background-color: #092448;
}

.side-nav-bar ul .side-subnav li {
    border-bottom: 0;
}

// Alert
.alert-bar {
    transform: translateY(-40px);
    width: calc(100% - 160px);
    position: fixed;
    transition: transform 0.2s ease;
    &.open {
        transform: translateY(0);
        z-index: $dashboard-index - 1;
    }
    p {
        padding: 13px 19px;
        float: left;
        line-height: .875rem;
        width: calc(100% - 46px);
        font-family: Roboto;
    }
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

// Outside of classes to optimize a little
@include media-breakpoint-down(md) {
    nav.side-nav-bar {
        display: none;
    }
    .content {
        padding-left: 0;
        padding-top: $header-height;
    }
}

@include media-breakpoint-down(xs) {
    .cmx-logo {
        display: none;
    }
}

// Overrides ugly ass cmx-component
/deep/.cmx-side-nav-bar-desk {
    transition: tranform 0.25s ease-in-out !important;
}

/deep/.legal-entity {
    height: 100% !important;
    display: block !important;
}

/deep/.legal-entity.hide-tab {
    display: none !important;
}

/deep/.title-section {
    height: auto !important;
    background-color: #002A59 !important;
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    padding: 8px 10px !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
}

/deep/.legal-entity .ul-legal-entity li p {
    font-size: 12px !important;
    padding: 2px 10px 2px 10px !important;
}

/deep/.legal-entity .search-legal-entity div {
    width: 100% !important;
    margin: 0 10px !important;
}

/deep/.legal-entity .search-legal-entity div input {
    width: 100% !important;
    background: #001C3B !important;
    border: none !important;
    outline: none !important;
    color: #FFF !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    margin: 0px 5px !important;
    margin-top: 8px !important;
    font-size: 14px !important;
}

/deep/.search-legal-entity>div>span {
    height: 15px !important;
    margin-top: 8px !important;
}

/deep/.cmx-nav-header {
    border-bottom: 0 !important;
}