<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewData["Title"] - Order Product</title>
        <base href="/ordersnproduct/" />
        <!-- <style>
            .pace {
                -webkit-pointer-events: none;
                pointer-events: none;

                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                }

                .pace-inactive {
                display: none;
                }

                .pace .pace-progress {
                background: #ee3d42;
                position: fixed;
                z-index: 2000;
                top: 0;
                right: 100%;
                width: 100%;
                height: 2px;
                }
        </style> -->
        <link rel="stylesheet" href="~/ordersnproduct/dist/vendor.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/ordersnproduct/dist/bootstrap.css" />
        <link rel="stylesheet" href="~/ordersnproduct/dist/dls/dls.bundle.css" />
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
