.product {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
    padding: 25px 33px;
    padding-bottom: 43px;
    margin-bottom: 10px;
    .left-side {
        border-right: 1px solid #DFE4EB;
    }
    .right-side {
        .title {
            color: #9CA4AE;
            font-size: 12px;
            text-align: right;
        }
        .desc {
            color: #2A2A2A;
            font-size: 19px;
            font-weight: bold;
            text-align: right;
        }
    }
    .group {
        .title {
            color: #9CA4AE;
            font-size: 12px;
        }
        .desc {
            color: #2A2A2A;
            font-size: 14px;
            color: #2A2A2A;
            &.bold {
                font-weight: bold;
            }
        }
    }
}

.price {
    margin-top: 230px;
    .subtotal {
        color: #001C3B;
        font-family: Roboto;
        font-size: 18px;
        text-align: right;
        .desc {
            font-weight: bold;
        }
    }
    .grand-total {
        color: #001C3B;
        font-size: 48px;
        font-weight: bold;
    }
}