<div>
    <stepper (onFinish)="finishSteps()" (onRendered)="stepperRendered()" finishText="Order">
        <step name="{{ pl_step_name }}" [showExit]="true" [showControls]="true">
            <product-selection-step (onCompleted)="productStepCompleted($event)"></product-selection-step>
        </step>
        <step *ngIf="shouldShowDeliveryMode()" [automatic]="true" [showControls]="true" [showExit]="false" [inLine]="false" title="Delivery mode">
            <mode-step (onCompleted)="modeStepCompleted($event)"></mode-step>
        </step>
        <step name="{{ location_step_name }}">
            <location-step (requestNext)="locationStepRequestedNext($event)" (onCompleted)="locationStepCompleted($event)"></location-step>
        </step>
        <step name="{{ specifications_step_name }}">
            <specifications-step (onCompleted)="specificationsStepCompleted($event)"></specifications-step>
        </step>
        <step name="{{ review_step_name }}">
            <review-step (onCompleted)="reviewStepCompleted($event)"></review-step>
        </step>
        <step name="{{ summary_step_name }}">
            <checkout-step [draftId]="draftId" (onCompleted)="checkoutCompleted($event)"></checkout-step>
        </step>
    </stepper>
</div>

<modal id="success-placement">
    <div class="container-fluid">
        <div class="container-layout center-text center-content">
            <div class="success-group">
                <span class="cmx-icon-accepted-ok"></span>
                <div class="success-text">
                    {{ t.pt('views.common.order_code') }}{{ orderCode }} {{ t.pt('views.common.was_submited') }}
                    <div class="order-message" *ngFor="let message of messages">
                        {{ message }}
                    </div>
                </div>
                <button *ngIf="!cashOrders.length" class="button back-to-orders" (click)="closeModal()">{{ t.pt('views.common.back_orders') }}</button>
                <button *ngIf="cashOrders.length" class="button back-to-orders" (click)="payCashOrders()">{{ t.pt('views.builder.proceed_cash') }}</button>
            </div>
        </div>
    </div>
</modal>