@import "~bootstrap/scss/bootstrap-grid.scss";
// Success modal
.center-text {
    text-align: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    @include media-breakpoint-down(sm) {
        position: absolute;
        padding: 0;
        padding-right: 58px;
        width: 100%;
        height: 75%;
    }
}

.order-message {
    margin-top: 20px;
    font-size: 16px;
}

.cmx-icon-accepted-ok {
    color: #7AC943;
    font-size: 126px;
}

.success-text {
    margin-top: 26px;
    font-size: 26px;
}

button.back-to-orders {
    margin-top: 60px;
}