<div *ngIf="rebuildOrder">
    <stepper (onFinish)="finishSteps()" finishText="Order">
        <step title="Product line" [showExit]="true" [showControls]="true">
            <product-selection-step (onCompleted)="productStepCompleted($event)"></product-selection-step>
        </step>
        <step *ngIf="shouldShowDeliveryMode()" [automatic]="true" [showControls]="true" [showExit]="false" [inLine]="false" title="Delivery mode">
            <mode-step (onCompleted)="modeStepCompleted($event)"></mode-step>
        </step>
        <step title="Location">
            <location-step (requestNext)="locationStepRequestedNext($event)" (onCompleted)="locationStepCompleted($event)"></location-step>
        </step>
        <step title="Specifications" title="Specifications">
            <specifications-step (onCompleted)="specificationsStepCompleted($event)"></specifications-step>
        </step>
        <step title="Review">
            <review-step (onCompleted)="reviewStepCompleted($event)"></review-step>
        </step>
        <step title="Summary">
            <checkout-step [draftId]="draftId" (onCompleted)="checkoutCompleted($event)"></checkout-step>
        </step>
    </stepper>
</div>