@import "~bootstrap/scss/bootstrap-grid.scss";
$link-blue: #3FA9F5;
.layout {
    padding: 34px 26px 34px 26px;
    @include media-breakpoint-down(sm) {
        padding: 34px 17px 34px 17px;
    }
}

.title-container {
    padding-top: 7px;
    padding-bottom: 16px;
    margin-bottom: 76px;
    @include media-breakpoint-down(sm) {
        margin-bottom: 36px;
    }
    h1 {
        display: inline;
        @include media-breakpoint-down(sm) {
            font-size: 30px;
        }
    }
}

.cto-container {
    &.center-with-steps a {
        margin-bottom: 16px;
    }
    a:not(:last-child) {
        margin-right: 8px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 16px;
    }
}

.cart-items-container {

    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07);
    margin: 0;

    /*@include media-breakpoint-down(sm) {
        margin: 0px 10px 10px 10px;
    }*/

    .payment-method {
        margin: 20px 0;
    }

    .cart-item-container {
        margin: 0;
        padding: 10px 15px;

        .product-field {
            padding: 0px 5px;
            margin: 10px 0px;

            .product-type {
                color: #2A2A2A;
                font-size: 14px;
                line-height: 19px;
                word-break:break-all;
            }
    
            .label-field {
                color: #9CA4AE;
                font-size: 12px;
                line-height: 16px;
            }

            @include media-breakpoint-down(sm) {
                margin: 5px 0px
            }
        }
    }
}

.special-separate {
    margin-right: 8px;
    margin-bottom: 10px;
    margin-left: 8px;
}

// Mods con DLS CSS
.button-ghost {
    color: #3fa9f5 !important;
}

.h3-group {
    margin: 20px 0 10px 0;
}