<div class="layout">
    <breadcrumbs>
        <breadcrumbs-item link="../orders">Orders</breadcrumbs-item>
    </breadcrumbs>
    <div class="title-container row align-items-center">
        <div class="col-sm-8">
            <h1>Shopping cart</h1>
        </div>
        <div class="cto-container col-sm-4">
            <div class="float-md-right">
                <a class="button-ghost mb-2" (click)="back()">Back</a>
                <a class="button-ghost" routerLink="app/orders" role="button" aria-hidden="true">Orders history</a>
            </div>
        </div>
    </div>
    <div class="cart-group">
        <h3 class="h3-group roboto-bold">Group 1</h3>
        <div class="row cart-items-container">
            <div class="cart-item-container col-md-10 row">
                <div class="product-field col-md-4">
                    <div class="label-field roboto">Product Description</div>
                    <p class="product-type roboto-bold">Cement</p>
                </div>
                <div class="product-field col-md-2">
                    <div class="label-field roboto">Quantity</div>
                    <p class="product-type">8</p>
                </div>
                <div class="product-field col-md-1">
                    <div class="label-field roboto">Unit</div>
                    <p class="product-type">tons</p>
                </div>
                <div class="product-field col-md-2">
                    <div class="label-field roboto">Requested Date</div>
                    <p class="product-type">13/07/2017</p>
                </div>
                <div class="product-field col-md-2">
                    <div class="label-field roboto">Requested Time</div>
                    <p class="product-type">15:00 - 16:00</p>
                </div>
                <div class="product-field col-md-1">
                    <div class="label-field roboto">Payment</div>
                    <p class="product-type">Credit</p>
                </div>
                <div class="product-field col-md-4">
                    <div class="label-field roboto">Location</div>
                    <p class="product-type roboto-bold">Southwest 68th Street building</p>
                </div>
                <div class="product-field col-md-2">
                    <div class="label-field roboto">Product ID</div>
                    <div class="product-type">20939302/10292/10102</div>
                </div>
                <div class="product-field col-md-3">
                    <div class="label-field roboto">Maximum Capacity</div>
                    <p class="product-type">10 tons</p>
                </div>
                <div class="product-field col-md-3">
                    <div class="label-field roboto">Contract</div>
                    <p class="product-type">10-201702189034 Remaining volume: 180 </p>
                </div>
                <div class="product-field col-md-4">
                    <div class="label-field roboto">Point of Delivery</div>
                    <p class="product-type">Backstreet yard</p>
                </div>
                <div class="product-field col-md-3">
                    <div class="label-field roboto">Additional Services</div>
                    <p class="product-type">Maneuvering</p>
                </div>
                <div class="product-field col-md-5">
                    <div class="label-field roboto">Delivery Mode</div>
                    <p class="product-type">Delivery</p>
                </div>


                <!--div class="cart-item"></div>
                <div class="spacer-16"></div-->
            </div>
            <div class="cart-item-container with-sepatator col-md-2">
                <div class="amount-container">
                    <div class="label-amount roboto">Unitary Price</div>
                    <p class="value-amount roboto-bold">$2,000.00</p>
                    <div class="spacer-16"></div>
                    <div class="label-amount roboto">Material Value</div>
                    <div class="value-amount roboto-bold">$20,000.00</div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-24"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="order-total float-right text-right">
                <div class="row concepts-total">
                    <h4 class="col-md-6">Subtotal:</h4>
                    <p class="col-md-6 roboto-bold" >$40,000.00</p>
                </div>
                <div class="row concepts-total">
                    <h4 class="col-md-6">Taxes:</h4>
                    <p class="col-md-6 roboto-bold">$10,000.00</p>
                </div>
                <div class="spacer-24"></div>
                <div class="size-48 roboto-bold">$50,000.00</div>
                <button class="button bright-green">Order</button>
            </div>
        </div>
    </div>
</div>