@import "~bootstrap/scss/bootstrap-grid.scss";
$link-blue: #3FA9F5;
.layout {
    padding: 34px 26px 34px 26px;
    @include media-breakpoint-down(sm) {
        padding: 34px 17px 34px 17px;
    }
}

.title-container {
    padding-top: 7px;
    padding-bottom: 16px;
    margin-bottom: 76px;
    @include media-breakpoint-down(sm) {
        margin-bottom: 36px;
    }
    h1 {
        display: inline;
        @include media-breakpoint-down(sm) {
            font-size: 30px;
        }
    }
}

.cto-container {
    &.center-with-steps a {
        margin-bottom: 16px;
    }
    a:not(:last-child) {
        margin-right: 8px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 16px;
    }
}

.cart-items-container {
    .payment-method {
        margin: 20px 0;
    }
    .cart-item-container {
        .product-type {
            color: #001C3B;
            font-weight: bold;
            line-height: 50px;
        }
    }
}

.special-separate {
    margin-right: 8px;
    margin-bottom: 10px;
    margin-left: 8px;
}

// Mods con DLS CSS
.button-ghost {
    color: #3fa9f5 !important;
}