<div *ngIf="!settings.addingOption" class="dropdown selection" [ngClass]="settings.containerClasses" [class.open]="isVisible"><button type="button" class="dropdown-toggle" [ngClass]="settings.buttonClasses" (click)="toggleDropdown()" [disabled]="disabled">{{ title }}<span _ngcontent-c42="" class="arrow cmx-icon-straight-arrow-down" style="right: 12px;position: absolute;line-height: 24px;color: #37A7F8;"></span></button>
    <ul #scroller *ngIf="isVisible" class="dropdown-menu" (scroll)="settings.isLazyLoad ? checkScrollPosition($event) : null" (wheel)="settings.stopScrollPropagation ? checkScrollPropagation($event, scroller) : null" [class.pull-right]="settings.pullRight"
        [class.dropdown-menu-right]="settings.pullRight" [style.max-height]="settings.maxHeight" style="border: 1px solid #ACAEBA;margin-left: -1px;overflow-x: hidden;display: block; height: auto; overflow-y: auto">
        <li class="dropdown-item search" *ngIf="settings.enableSearch">
            <div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search"></i></span> <input type="text" class="form-control" placeholder="{{ texts.searchPlaceholder }}" aria-describedby="sizing-addon3" [formControl]="filterControl" autofocus>                <span class="input-group-btn" *ngIf="filterControl.value.length > 0"><button class="btn btn-default btn-secondary" type="button" (click)="clearSearch($event)"><i class="fa fa-times"></i></button></span></div>
        </li>
        <li class="dropdown-item check-control check-control-check" *ngIf="settings.showCheckAll && !disabledSelection"><a href="javascript:;" role="menuitem" tabindex="-1" (click)="checkAll()"><span style="width: 16px" [ngClass]="{\'glyphicon glyphicon-ok\': settings.checkedStyle !== \'fontawesome\',\'fa fa-check\': settings.checkedStyle === \'fontawesome\'}"></span> {{ texts.checkAll }}</a></li>
        <li class="dropdown-item check-control check-control-uncheck" *ngIf="settings.showUncheckAll && !disabledSelection"><a href="javascript:;" role="menuitem" tabindex="-1" (click)="uncheckAll()"><span style="width: 16px" [ngClass]="{\'glyphicon glyphicon-remove\': settings.checkedStyle !== \'fontawesome\',\'fa fa-times\': settings.checkedStyle === \'fontawesome\'}"></span> {{ texts.uncheckAll }}</a></li>
        <li *ngIf="!renderItems" class="dropdown-item empty">{{ texts.searchNoRenderText }}</li>
        <li *ngIf="renderItems && !renderFilteredOptions.length" class="dropdown-item empty">{{ texts.searchEmptyResult }}</li>
        <li class="dropdown-item" *ngFor="let option of renderFilteredOptions" (click)="setSelected($event, option)" [ngStyle]="getItemStyle(option)" [ngClass]="option.classes" [class.dropdown-header]="option.isLabel">
            <a style="text-decoration: none;" *ngIf="!option.isLabel; else label" href="javascript:;" role="menuitem" tabindex="-1" [style.padding-left]="this.parents.length>0&&this.parents.indexOf(option.id)<0&&\'30px\'" [ngStyle]="getItemStyleSelectionDisabled()">
                <ng-container [ngSwitch]="settings.checkedStyle"><input *ngSwitchCase="\'checkboxes\'" type="checkbox" [checked]="isSelected(option)" (click)="preventCheckboxCheck($event, option)" [disabled]="isCheckboxDisabled()" [ngStyle]="getItemStyleSelectionDisabled()"> <span *ngSwitchCase="\'glyphicon\'"
                        style="width: 16px" class="glyphicon" [class.glyphicon-ok]="isSelected(option)"></span> <span *ngSwitchCase="\'fontawesome\'" style="width: 16px;display: inline-block"><i *ngIf="isSelected(option)" class="fa fa-check" aria-hidden="true"></i></span></ng-container>
                <span [ngClass]="settings.itemClasses" style="color: #2A2A2A;font-family: Roboto;font-size: 14px;font-weight: bold;line-height: 19px;" [style.font-weight]="this.parents.indexOf(option.id)>=0?\'bold\':\'normal\'">{{ option.name }}</span>
            </a>
            <ng-template #label>{{ option.name }}</ng-template>
        </li>
        <li class="addMoreOption" (click)="addOption()" *ngIf="settings.addOption"><span>{{ texts.createNew }}</span></li>
    </ul>
</div>
<div *ngIf="settings.addingOption" class="add-option-container">
    <span>
        <label>Name:</label>
        <input id="contact-name" name="Contact name" type="text" />
    </span>
    <span>
        <label>Phone number:</label>
        <input type="text" name="Contact number" id="contact-phone" />
    </span>
</div>
<div *ngIf="settings.addingOption" (click)="cancel()">Cancel</div>