<!-- Responsive table starts here -->
<!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
<div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-striped">
        <thead>
            <tr>
                <th width="30px"></th>
                <th>
                    Submitted
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th>
                    Submitted by
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th>
                    Items
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th>
                    Products
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th>
                    Status
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th>
                    Total amount
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th>
                    <i class="star fa fa-star" aria-hidden="true"></i>
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="hidden-sm-down expand">+</td>
                <td data-title="Submitted">09/24/2017, 08:30</td>
                <td data-title="Submitted by">Nettie Oliver</td>
                <td data-title="Items">
                    2
                </td>
                <td data-title="Products" class="products">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </td>
                <td data-title="Status"><span class="status in-progress"></span> In Progress</td>
                <td data-title="Total amount">$22387.48</td>
                <td data-title="Favorite"><i class="star active fa fa-star" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td class="hidden-sm-down expand">+</td>
                <td data-title="Submitted">09/24/2017, 08:30</td>
                <td data-title="Submitted by">Nettie Oliver</td>
                <td data-title="Items">
                    2
                </td>
                <td data-title="Products" class="products">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </td>
                <td data-title="Status"><span class="status completed"></span> Completed</td>
                <td data-title="Total amount">$22387.48</td>
                <td data-title="Favorite"><i class="star fa fa-star" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td class="hidden-sm-down expand">+</td>
                <td data-title="Submitted">09/24/2017, 08:30</td>
                <td data-title="Submitted by">Nettie Oliver</td>
                <td data-title="Items">
                    2
                </td>
                <td data-title="Products" class="products">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </td>
                <td data-title="Status"><span class="status in-progress"></span> In Progress</td>
                <td data-title="Total amount">$22387.48</td>
                <td data-title="Favorite"><i class="star active fa fa-star" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td class="hidden-sm-down expand">+</td>
                <td data-title="Submitted">09/24/2017, 08:30</td>
                <td data-title="Submitted by">Nettie Oliver</td>
                <td data-title="Items">
                    2
                </td>
                <td data-title="Products" class="products">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </td>
                <td data-title="Status"><span class="status draft"></span> Draft</td>
                <td data-title="Total amount">$22387.48</td>
                <td data-title="Favorite"><i class="star active fa fa-star" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td class="hidden-sm-down expand">+</td>
                <td data-title="Submitted">09/24/2017, 08:30</td>
                <td data-title="Submitted by">Nettie Oliver</td>
                <td data-title="Items">
                    2
                </td>
                <td data-title="Products" class="products">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </td>
                <td data-title="Status"><span class="status in-progress"></span> In Progress</td>
                <td data-title="Total amount">$22387.48</td>
                <td data-title="Favorite"><i class="star fa fa-star" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td class="hidden-sm-down expand">+</td>
                <td data-title="Submitted">09/24/2017, 08:30</td>
                <td data-title="Submitted by">Nettie Oliver</td>
                <td data-title="Items">
                    2
                </td>
                <td data-title="Products" class="products">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </td>
                <td data-title="Status"><span class="status in-progress"></span> In Progress</td>
                <td data-title="Total amount">$22387.48</td>
                <td data-title="Favorite"><i class="star active fa fa-star" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td class="hidden-sm-down expand">+</td>
                <td data-title="Submitted">09/24/2017, 08:30</td>
                <td data-title="Submitted by">Nettie Oliver</td>
                <td data-title="Items">
                    2
                </td>
                <td data-title="Products" class="products">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </td>
                <td data-title="Status"><span class="status completed"></span> Completed</td>
                <td data-title="Total amount">$22387.48</td>
                <td data-title="Favorite"><i class="star fa fa-star" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td class="hidden-sm-down expand">+</td>
                <td data-title="Submitted">09/24/2017, 08:30</td>
                <td data-title="Submitted by">Nettie Oliver</td>
                <td data-title="Items">
                    2
                </td>
                <td data-title="Products" class="products">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </td>
                <td data-title="Status"><span class="status in-progress"></span> In Progress</td>
                <td data-title="Total amount">$22387.48</td>
                <td data-title="Favorite"><i class="star active fa fa-star" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td class="hidden-sm-down expand">+</td>
                <td data-title="Submitted">09/24/2017, 08:30</td>
                <td data-title="Submitted by">Nettie Oliver</td>
                <td data-title="Items">
                    2
                </td>
                <td data-title="Products" class="products">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </td>
                <td data-title="Status"><span class="status draft"></span> Draft</td>
                <td data-title="Total amount">$22387.48</td>
                <td data-title="Favorite"><i class="star active fa fa-star" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td class="hidden-sm-down expand">+</td>
                <td data-title="Submitted">09/24/2017, 08:30</td>
                <td data-title="Submitted by">Nettie Oliver</td>
                <td data-title="Items">
                    2
                </td>
                <td data-title="Products" class="products">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </td>
                <td data-title="Status"><span class="status in-progress"></span> In Progress</td>
                <td data-title="Total amount">$22387.48</td>
                <td data-title="Favorite"><i class="star fa fa-star" aria-hidden="true"></i></td>
            </tr>
        </tbody>
    </table>
</div>