<!-- Responsive table starts here -->
<!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->

<div *ngIf="!isLoading && orders?.length == 0 ">
    <p style="text-align: center;
    color: #9CA4AE;
    padding: 80px 0;
    font-size: 40px;">No orders found</p>
</div>
<!-- <div *ngIf="isLoading">
        <p style="text-align: center;
        color: #9CA4AE;
        padding: 80px 0;
        font-size: 40px;">Loading Orders</p>
</div> -->
<loading-table *ngIf="isLoading" [rows]="ordersQty"></loading-table>
<div *ngIf="!isLoading && orders?.length > 0" class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-fixed main table-hover table-striped">
        <thead>
            <tr>
                <th *ngFor="let column of filteredColumns;" [width]="column.width + '%'" [ngClass]="{active: sortedBy == column.key, sortAsc: sortOrder[column.key]}" [class]="column.key + '-col'" (click)="sortBy(column, sortOrder[column.key])">
                    {{column.title}}
                    <svg *ngIf="column.sortable == true || column.sortable === undefined" class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let order of orders; let odd = odd">
                <tr [ngClass]="{ 'zebra': odd }" (click)="onRowClick(order)">
                    <td [attr.data-title]="column.title" class="{{ 'col-' + column.key }}" [ngClass]="{first: first}" [routerLink]="['../order-detail/', {orderId:order.orderRequest.orderId, typeCode:order.orderRequest.orderType}]" *ngFor="let column of filteredColumns; let i = index; let first = first">
                        <span class="status" [ngClass]="{
                                canceled: order.isCanceled(),
                                confirmed: order.isConfirmed(),
                                draft: order.isDraft(),
                                pending: order.isPending(),
                                blocked: order.isBlocked(),
                                holded: order.isHolded(),
                                processed: order.isProcessed(),
                                completed: order.isCompleted()
                            }" *ngIf="column.key === 'status'"></span> {{ column.key !== 'businessLine' ? order.orderRequest[column.key] : '' }}
                        <span class="cmx-icon-driver" *ngIf="showIcon(order.orderRequest[column.key])"></span>
                    </td>
                </tr>
                <tr class="hidden-md-down sub separator"></tr>
            </ng-container>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pagination">
            <pagination [totalPages]="totalPages || 1" [currentPage]="currentPage" (changePage)="changePage($event)"></pagination>
        </div>
    </div>
</div>