<!-- Responsive table starts here -->
<!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
<div *ngIf="isLoading">
    <p>Loading...</p>
</div>
<div *ngIf="!isLoading && orders?.length == 0">
    <p>No orders found</p>
</div>
<div class="orders" *ngIf="!isLoading && orders?.length > 0">
    <div class="table-responsive-vertical shadow-z-1">
        <!-- Table starts here -->
        <table id="table" class="table table-fixed main table-hover table-striped">
            <thead>
                <tr>
                    <th width="4%"></th>
                    <th width="15%">
                        Submitted
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="20%">
                        Submitted by
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="10%">
                        Items
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="10%">
                        Products
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="20%">
                        Status
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="15%">
                        Total amount
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                    <th width="7%">
                        <i class="star cmx-icon-favourite-active" aria-hidden="true"></i>
                        <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let order of orders">
                    <tr>
                        <td data-toggle="collapse" data-target="#details1" class="hidden-md-down expand collapsed"></td>
                        <td data-title="Submitted">{{order.orderRequest.viewedAt}}</td>
                        <td data-title="Submitted by">{{order.orderRequest.orderRequestedBy}}</td>
                        <td data-title="Items">{{order.orderRequest.orderRequestItems.length}}</td>
                        <td data-title="Products" class="products">
                            <i *ngIf="order.isReadyMix()" class="cmx-icon-driver" aria-hidden="true"></i>
                            <!-- TODO add cement packed/bagged icons -->
                            <i *ngIf="order.isCement()" class="cmx-icon-track" aria-hidden="true"></i>
                            <i *ngIf="order.isAggregates()" class="cmx-icon-user-profile" aria-hidden="true"></i>
                        </td>
                        <td data-title="Status"><span class="status in-progress"></span>{{order.orderRequest.orderRequestStatus.statusDesc}}</td>
                        <!-- TODO numberal parser -->
                        <td data-title="Total amount">${{order.orderRequest.totalAmount}}</td>
                        <td data-title="Favorite">
                            <i class="star cmx-icon-favourite-active" [class.active]="order.orderRequest.isFavorite" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr class="hidden-md-down sub sub-row">
                        <td colspan="8">
                            <div class="collapse details" id="details1">
                                <div class="content">
                                    <table class="table table-fixed details-table">
                                        <thead>
                                            <th width="15%">Order Number</th>
                                            <th width="15%">Location</th>
                                            <th width="10%">Product</th>
                                            <th width="10%">Amount</th>
                                            <th width="25%">Delivery date</th>
                                            <th width="10%">Payment</th>
                                            <th width="10%">Payment</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let orderRequestItem of order.orderRequest.orderRequestItems" class="order">
                                                <td class="number">{{orderRequestItem.orderRequestItemId}}</td>
                                                <td>{{orderRequestItem.pointOfDelivery.pointOfDeliveryDesc}}</td>
                                                <td class="product"><i class="cmx-icon-driver" aria-hidden="true"></i></td>
                                                <td>10 Tons</td>
                                                <td>31/12/2017, 15:00</td>
                                                <td>Cash</td>
                                                <td class="payment">${{orderRequestItem.itemAmount}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="hidden-md-down sub separator"></tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pagination">
                <pagination [totalPages]="10" [currentPage]="1" (changePage)="changePage($event)"></pagination>
            </div>
        </div>
    </div>
</div>