@import "~bootstrap/scss/bootstrap-grid.scss";
// Shows status like this: [] Completed
.status {
    border-radius: 2px;
    background-color: #333;
    padding: 0px 8px;
    margin-right: 7px;
}

.status.in-progress {
    background-color: #A8B6CB;
}

.status.pending {
    background-color: #A8B6CB;
}

.status.complete {
    background-color: #77CB38;
}

.status.block {
    background-color: #FF243F;
}

.status.draft {
    background-color: #FF243F;
}

// Shows status like this: [Completed]
// .status {
//     display: flex;
//     max-width: 78px;
//     max-height: 28px;
//     min-height: 28px;
//     justify-content: center;
//     align-items: center;
//     border-radius: 2px;
//     font-size: 13px;
//     overflow: hidden;
//     @include media-breakpoint-down(md) {
//         display: inline-flex;
//         min-width: 78px;
//     }
// }
// .status.in-progress {
//     border: 1px solid #C6C6C6;
// }
// .status.pending {
//     border: 1px solid #C6C6C6;
// }
// .status.complete {
//     background-color: #77CB38;
//     color: white;
// }
// .status.block {
//     background-color: #FF243F;
//     color: white;
// }
// .status.draft {
//     background-color: #FF243F;
//     color: white;
// }
.expand {
    text-align: center !important;
    cursor: pointer;
    &:after {
        content: '-';
    }
    &.collapsed:after {
        content: '+';
    }
}

.star {
    color: #C8D0DC;
    &.active {
        color: #F1C40F;
    }
}

.products {
    .cmx-icon-driver {
        font-size: 18px;
    }
}

.order {
    color: #333333;
    font-family: Roboto;
    font-size: 14px;
    .number {
        color: #37A7F8;
        font-weight: bold;
        cursor: pointer;
    }
    .payment {
        font-weight: bold;
        text-align: right;
    }
    .product {
        font-size: 18px;
    }
}

.status-block-position {
    @include media-breakpoint-up(md) {
        padding: 9px 13px !important;
        padding-top: 11px !important;
    }
}