.status {
    display: flex;
    max-width: 78px;
    max-height: 28px;
    min-height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 13px;
    overflow: hidden;
}

.status.in-progress {
    border: 1px solid #C6C6C6;
}

.status.complete {
    background-color: #77CB38;
    color: white;
}

.status.block {
    background-color: #FF243F;
    color: white;
}

.status.draft {
    background-color: #FF243F;
    color: white;
}

.expand {
    text-align: center !important;
    cursor: pointer;
    &:after {
        content: '-';
    }
    &.collapsed:after {
        content: '+';
    }
}

.star {
    color: #C8D0DC;
    &.active {
        color: #F1C40F;
    }
}

.products {
    .cmx-icon-driver {
        font-size: 18px;
    }
}

.order {
    color: #333333;
    font-family: Roboto;
    font-size: 14px;
    .number {
        color: #37A7F8;
        font-weight: bold;
        cursor: pointer;
    }
    .payment {
        font-weight: bold;
        text-align: right;
    }
    .product {
        font-size: 18px;
    }
}

.p9-13 {
    padding: 9px 13px !important;
}