<div class="row no-gutters">
    <div class="col-md-5 col-sm-12">
        <div class="details-container">
            <div class="item">
                <div class="title">
                    {{ t.pt('views.review.location') }}
                </div>
                <div class="description">
                    {{ manager.jobsite?.shipmentLocationDesc }}
                </div>
                <div class="details">
                    {{ manager.jobsite?.address?.streetName }} {{ manager.jobsite?.address?.settlementDesc }}, {{ manager.jobsite?.address?.regionDesc }}, {{ manager.jobsite?.address?.cityDesc }}, {{ manager.jobsite?.address?.postalCode }}
                </div>
            </div>
            <div class="item" [ngClass]="{ invisible: !manager.pointOfDelivery }">
                <div class="title">
                    {{ t.pt('views.review.pod') }}
                </div>
                <div class="description">
                    {{manager.pointOfDelivery?.shipmentLocationDesc}} <br>
                    {{ manager.pointOfDelivery?.address?.streetName }} {{ manager.pointOfDelivery?.address?.settlementDesc }}, {{ manager.pointOfDelivery?.address?.regionDesc }}, {{ manager.pointOfDelivery?.address?.cityDesc }}, {{ manager.pointOfDelivery?.address?.postalCode
                    }}
                </div>
                <!-- <div class="details invisible">
                    N: 50°46’ 23.92” E: 14°07’ 18.85”
                </div> -->
            </div>
            <div class="item">
                <div class="title">
                    {{ t.pt('views.review.purchase_order') }}
                </div>
                <div class="description">
                    {{ manager?.purchaseOrder }}
                </div>
            </div>
            <div class="item">
                <div class="title">
                    {{ t.pt('views.review.contact') }}
                </div>
                <div class="description">
                    {{ manager?.contact?.name }}
                </div>
                <div class="details">
                    {{ manager?.contact?.phone }} {{ manager?.contact?.email }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12">
        <div id="summary-map"></div>
    </div>
</div>
<div class="title-spearator">
    {{ t.pt('views.review.products') }}
</div>

<div *ngFor="let item of manager.products" class="card-container row product">
    <div class="col-md-4 col-sm-12 left-container" style="overflow: hidden;text-overflow: ellipsis;">
        <div class="name">
            {{ item?.product?.commercialCode }} /{{ item?.product?.commercialDesc }}
        </div>
    </div>
    <div class="col-md-8 right-container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="group">
                    <div class="title">
                        {{ t.pt('views.review.quantity') }}
                    </div>
                    <div class="value">
                        {{ item.quantity }}
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="group">
                    <div class="title">
                        {{ t.pt('views.review.unit') }}
                    </div>
                    <div class="value">
                        {{ item.unit?.alternativeUnit.unitDesc }}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="group">
                    <div class="title">
                        {{ t.pt('views.review.request_date') }}
                    </div>
                    <div class="value">
                        {{ item.date | date:'dd.MM.yyyy' }}
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6" *ngIf="UTIL.isBulkCement() || UTIL.isReadyMix()">
                <div class="group">
                    <div class="title">
                        {{ t.pt('views.review.request_time') }}
                    </div>
                    <div class="value">
                        {{ item.time | date:'shortTime' }}
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="group">
                    <div class="title">
                        {{ t.pt('views.review.payment') }}
                    </div>
                    <div class="value">
                        {{ item.payment?.paymentTermType.paymentTermTypeDesc }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3" *ngIf="!UTIL.isUSACustomer()">
                <div class="group">
                    <div class="title">
                        {{ t.pt('views.review.maximum_capacity') }}
                    </div>
                    <div class="value">
                        {{ item.maximumCapacity }}
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="group">
                    <div class="title">
                        {{ t.pt('views.review.contract') }}
                    </div>
                    <div class="value" *ngIf="item?.contract?.salesDocument">
                        {{ item?.contract?.salesDocument?.salesDocumentCode }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="group">
                    <div class="title">
                        {{ t.pt('views.review.aditional_services') }}
                    </div>
                    <div class="value">
                        <span *ngIf="item.maneuvering">{{ t.pt('views.review.maneuvering') }}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="d-flex flex-wrap">
                    <div class="group flex-6">
                        <div class="title">
                            {{ t.pt('views.review.delivery_mode') }}
                        </div>
                        <div class="value">
                            <span *ngIf="UTIL.isDelivery()">{{ t.pt('views.review.delivery') }}</span>
                            <span *ngIf="UTIL.isPickup()">{{ t.pt('views.review.pickup') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="item?.plant">
            <div class="col-sm-6">
                <div class="group">
                    <div class="title">
                        {{ t.pt('views.review.plant') }}
                    </div>
                    <div class="value">
                        <span>{{ item.plant?.plantDesc }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>