@import "~bootstrap/scss/bootstrap-grid.scss";
#app-content.blur {
    filter: blur(10px);
}

.modal-dialog {
    @include media-breakpoint-down(sm) {
        margin: 0 !important;
        max-width: unset;
    }
    @include media-breakpoint-only(md) {
        margin: 30px auto;
        //max-width: 500px;
    }
}

.modal-content {
    border: 0;
    border-radius: 0;
}

@media (min-width: 576px) {}