.cards {
    padding: 20px 0;
}

.from {
    .name {
        color: #020028;
        font-size: 12px;
        border-right: 1px solid #ccc;
        font-weight: bold;
    }
    .date {
        color: #5C5C5C;
        font-size: 12px;
    }
}

.comment-history-item {
    background: #ffffff;
    margin-top: 10px;
    padding: 20px;
    &:first-child {
        margin-top: 0;
    }
    >.comment-text {
        margin-top: 18px;
        font-size: 13px;
        color: #767676;
    }
}

.add-comment-head {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 15px;
}

textarea {
    height: 100px;
    margin-bottom: 16px;
}

.transparent-input {
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: .5rem 0;

    &:focus {
        border-color: #80bdff;
    }
}

.send-comment {
    position: relative;
}

.card {
    padding: 10px;
    margin: 10px 0;
}
