@import "~bootstrap/scss/bootstrap-grid.scss";
$link-blue: #3FA9F5;
:host {
    &:first-child {
        li {
            color: $link-blue;
            font-size: 1.625rem;
            line-height: 2rem;
            font-weight: 400;
        }
    }
    &:not(:first-child) {
        li:before {
            content: '\25CF';
            font-size: 12px;
            border-radius: 50%;
            line-height: 2rem;
            vertical-align: middle;
            padding-left: 8px;
            padding-right: 11px;
            color: #002A59;
            @include media-breakpoint-down(md) {
                content: '■';
                font-size: 12px;
                border-radius: 100%;
                line-height: 2rem;
                vertical-align: middle;
                padding-left: 4px;
                padding-right: 6px;
                color: #139DF2;
            }
        }
    }
}

li {
    display: inline;
    color: #4D4D4D;
    font-size: 26px;
    line-height: 2rem;
}

a {
    text-decoration: none;
}