<div class="container">
    <div class="title">
        New Project Profile
    </div>
    <div class="form-container">
        <div class="col-md-12 col-sm-12">
            <label for="pp-name" class="">Select from existing jobiste</label>
        </div>
        <div class="col-md-12 col-sm-12">
            <input type="text" class="form-control" id="pp-name" placeholder="Enter name" name="" value="">
            <!-- <select id="pp-name" class="form-control">
                <option value="" selected disabled hidden>Select existing POD</option>
                <option value="1">Riderback Eastern River Valley</option>
                <option value="2">Monterrey, Nuevo Leon</option>
                <option value="3">Tokyo Shibuya</option>
            </select> -->
        </div>
    </div>
</div>