<div (click)="cancel()" data-dismiss="modal" class="close">
    <svg class="icon-close-black">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
    </svg>
</div>
<div class="container-layout">
    <ng-container *ngIf="!finishedOrder && !loadingCatalog">
        <div class="title">
            {{ t.pt('views.project.profile.new') }}
        </div>
        <div class="form-container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="pp-name" class="">{{ t.pt('views.project.profile.name') }}</label>
                    <input [(ngModel)]="projectProfile.profileName" type="text" class="form-control " id="pp-name" name="pp-name" value="">
                </div>
            </div>
            <div class="row" *ngIf="isMX">
                <div class="col-sm-6">
                    <label for="pp-discharge" class="">{{ t.pt('views.project.profile.dischare_time') }}</label>
                    <select (change)="onChangeDischargeTime($event.target.value)" name="pp-discharge" id="pp-discharge" class="form-control">
                        <option value="" selected disabled hidden></option>
                        <option [value]="null"></option>
                        <option *ngFor="let entry of catalogs.DCT" [value]="entry.entryId">{{entry.entryDesc}}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="pp-transport" class="">{{ t.pt('views.project.profile.transport_method') }}</label>
                    <select (change)="onChangeTransportMethod($event.target.value)" name="pp-transport" id="pp-transport" class="form-control">
                        <option value="" selected disabled hidden></option>
                        <option *ngFor="let entry of catalogs.TPM" [value]="entry.entryId">{{entry.entryDesc}}</option>
                    </select>
                </div>
            </div>
            <div class="row" *ngIf="isMX">
                <div class="col-sm-6">
                    <label for="pp-discharge" class="">{{ t.pt('views.project.profile.unload_type') }}</label>
                    <select (change)="onChangeUnloadType($event.target.value)" name="pp-discharge" id="pp-discharge" class="form-control">
                        <option value="" selected disabled hidden></option>
                        <option [value]="null"></option>
                        <option *ngFor="let entry of catalogs.ULT; let i = index" [attr.data-index]="i" [value]="i">{{entry.entryDesc}}</option>
                    </select>
                </div>
                <div *ngIf="isUnloadTypePump" class="col-sm-6">
                    <label for="pp-transport" class="">{{ t.pt('views.project.profile.pump_capacity') }}</label>
                    <select (change)="onChangePumpCapacity($event.target.value)" name="pp-transport" id="pp-transport" class="form-control">
                        <option value="" selected disabled hidden></option>
                        <option *ngFor="let entry of catalogs.PCC" [value]="entry.entryId">{{entry.entryDesc}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="pp-discharge" class="">{{ t.pt('views.project.profile.application') }}</label>
                    <select (change)="onChangeApplicationType($event.target.value)" name="pp-discharge" id="pp-discharge" class="form-control">
                        <option value="" selected disabled hidden></option>
                        <option [value]="null"></option>
                        <option *ngFor="let entry of catalogs.ELM" [value]="entry.entryId">{{entry.entryDesc}}</option> 
                   </select>
                </div>
                <div class="col-sm-6">
                    <label for="pp-transport" class="">{{ t.pt('views.project.profile.spacing') }}</label>
                    <select (change)="onChangeSpacing($event.target.value)" name="pp-transport" id="pp-transport" class="form-control">
                        <option value="" selected disabled hidden></option>
                        <option [value]="null"></option>
                        <option *ngFor="let entry of catalogs.TPL" [value]="entry.entryId">{{entry.entryDesc}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="pp-discharge" class="">{{ t.pt('views.project.profile.load_size') }}</label>
                    <select (change)="onChangeLoadSize($event.target.value)" name="pp-discharge" id="pp-discharge" class="form-control">
                        <option value="" selected disabled hidden></option>
                        <option [value]="null"></option>
                        <option *ngFor="let entry of catalogs.LSC" [value]="entry.entryId">{{entry.entryDesc}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-sm-6">
                    <label for="pp-discharge" class="">Pump Frequency</label>
                    <select name="pp-discharge" id="pp-discharge" class="form-control">
                        <option value="" selected disabled hidden></option>
                        <option *ngFor="let entry of catalogs.RCC" value="entry.entryId">{{entry.entryDesc}}</option>
                    </select>
                </div> -->
                <div class="col-sm-6">
                    <div class="center-kicker">
                        <input (change)="onChangeKicker($event.target.checked)" type="checkbox" id="kicker">
                        <label for="kicker">
                            <svg class="icon-checkbox-active">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox-active"></use>
                            </svg>
                            <svg class="icon-checkbox-static">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                            </svg>
                            <svg class="icon-checkbox-hover">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                            </svg>
                            <span class="lh-19">{{ t.pt('views.project.profile.kicker') }}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row additional">
            <div class="col-sm-12 mb-5">
                <label class="">Additional Services</label>
            </div>
            <div class="col-sm-3">
                <input checked type="checkbox" id="extra-hours">
                <label for="extra-hours">
                    <svg class="icon-checkbox-active">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox-active"></use>
                    </svg>
                    <svg class="icon-checkbox-static">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                    </svg>
                    <svg class="icon-checkbox-hover">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                    </svg>
                    <span>Extra Hours</span>
                </label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" id="service">
                <label for="service">
                    <svg class="icon-checkbox-active">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox-active"></use>
                    </svg>
                    <svg class="icon-checkbox-static">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                    </svg>
                    <svg class="icon-checkbox-hover">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                    </svg>
                    <span>Sunday / Holiday Service</span>
                </label>
            </div>
            <div class="col-sm-3">
                <input type="checkbox" id="pipeline">
                <label for="pipeline">
                    <svg class="icon-checkbox-active">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox-active"></use>
                    </svg>
                    <svg class="icon-checkbox-static">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                    </svg>
                    <svg class="icon-checkbox-hover">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkbox"></use>
                    </svg>
                    <span>Pipeline</span>
                </label>
            </div>
        </div> -->
        <div class="row actions text-right">
            <div class="col">
                <button (click)="cancel()" data-dismiss="modal" class="button-ghost mb-2">{{ t.pt('views.common.cancel') }}</button>
                <button [disabled]="postingTheOrder" (click)="confirm()" data-dismiss="modal" class="button bright-green">{{ postingTheOrder ? t.pt('views.project.profile.saving'): t.pt('views.common.confirm') }}</button>
            </div>
        </div>
    </ng-container>
    <div *ngIf="finishedOrder" class="container-layout center-text center-content">
        <div class="success-group">
            <span class="cmx-icon-accepted-ok"></span>
            <div class="success-text">
                {{ t.pt('views.project.profile.created') }}
                <!-- PP Number? -->
            </div>
        </div>
    </div>
    <div *ngIf="loadingCatalog" class="loading-wrapper">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="input-pulse"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-pulse"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-pulse"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-pulse"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-pulse"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-pulse"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-pulse"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-pulse"></div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="input-pulse"></div>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="!finishedOrder" class="container-layout center-text center-content">
    <div class="success-group">
        <span class="cmx-icon-accepted-ok"></span>
        <div class="success-text">
            Project profile created succesfully #784915
        </div>
    </div>
</div> -->