@import "~bootstrap/scss/bootstrap-grid.scss";
@import "../../scss/mixins/animations.scss";

.close {
    position: absolute;
    top: 30px;
    right: 32px;
    cursor: pointer;
    @include media-breakpoint-down(sm) {
        position: absolute;
        top: 17px;
        right: 17px;
        cursor: pointer;
    }
}

.container-layout {
    padding: 50px 58px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 58px;
    padding-right: 58px;
    @include media-breakpoint-down(sm) {
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.title {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
}

.form-container {
    @include media-breakpoint-down(sm) {
        margin-top: 23px;
    }
    margin-top: 47px;
    label {
        color: #001C3B;
        font-size: 12px;
        line-height: 16px;
    }
    input,
    select {
        height: 40px !important;
        border: 1px solid #D7D7D7;
        border-radius: 2px;
    }
    .center-kicker {
        vertical-align: middle;
        display: flex;
        align-items: center;
        margin-top: 42px;
        @include media-breakpoint-down(sm) {
            margin-top: 24px;
        }
    }
    .col-sm-6 {
        margin-top: 25px;
    }
}

.additional {
    margin-top: 46px;
}

input+label {
    color: #2A2A2A !important;
    span {
        line-height: 16px;
        font-size: 14px !important;
    }
    [class*=icon-] {
        width: 15px;
        height: 15px;
    }
}

label {
    color: #001C3B;
    font-size: 12px;
    line-height: 16px;
}

.lh-19 {
    line-height: 19px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.actions {
    margin-top: 73px;
    button:not(:first-child) {
        margin-left: 8px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 26px;
    }
}

// Sucess part
.center-text {
    text-align: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    @include media-breakpoint-down(sm) {
        position: absolute;
        padding: 0;
        padding-right: 58px;
        width: 100%;
        height: 75%;
    }
}

.cmx-icon-accepted-ok {
    color: #7AC943;
    font-size: 126px;
}

.success-text {
    margin-top: 26px;
    font-size: 26px;
}

.loading-wrapper {
    margin-top: 50px;
}

.input-pulse {
    background-color: rgba(128, 128, 128, .1);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    @include animation('pulse 1s alternate infinite');
    height: 40px;
    margin-bottom: 40px;
}
