@import "~bootstrap/scss/bootstrap-grid.scss";
.container-layout {
    padding: 50px 58px;
}

.title {
    color: #000000;
    font-size: 30px;
    line-height: 40px;
}

.form-container {
    margin-top: 47px;
    label {
        color: #001C3B;
        font-size: 12px;
        line-height: 16px;
    }
    input,
    select {
        height: 40px !important;
        border: 1px solid #D7D7D7;
        border-radius: 2px;
    }
    .center-kicker {
        vertical-align: middle;
        display: flex;
        align-items: center;
        margin-top: 42px;
        @include media-breakpoint-down(sm) {
            margin-top: 24px;
        }
    }
    .col-sm-6 {
        margin-top: 25px;
    }
}

.additional {
    margin-top: 46px;
}

input+label {
    color: #2A2A2A !important;
    span {
        line-height: 16px;
        font-size: 14px !important;
    }
    [class*=icon-] {
        width: 15px;
        height: 15px;
    }
}

label {
    color: #001C3B;
    font-size: 12px;
    line-height: 16px;
}

.lh-19 {
    line-height: 19px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.actions {
    margin-top: 73px;
    button:not(:first-child) {
        margin-left: 8px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 16px;
    }
}