@import "~bootstrap/scss/bootstrap-grid.scss";
.layout {
    padding: 34px 26px 34px 26px;
    @include media-breakpoint-down(sm) {
        padding: 17px 17px 34px 17px;
    }
}

.request-date {
    min-width: 336px;
    margin-left: 8px;
    margin-left: 3px;
}

.title-container {
    margin-right: 40px;
    h1 {
        margin-left: 12px;
        color: #001C3B;	
        font-size: 30px;	
        font-weight: bold;
    }
}

.cto-container {
    float: right;
    text-align: right;
    button {
        &:first-child {
            @include media-breakpoint-down(sm) {
                margin-bottom: 16px;
            }
        }
        &:last-child {
            margin-top: 4px;
        }
    }
    @include media-breakpoint-down(sm) {
        float: left;
    }
}

.nav-tab-container {
    margin-top: 33px;
}
.nav-tabs .nav-item {
    .nav-link {
        color: #333333;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        cursor: pointer;
        &.active {
            border-radius: 0;
        }
    }
}

.location {
    border-radius: 2px;
    background-color: #FFFFFF;
    min-height: 145px;
    padding: 31px 29px;
    border-bottom: 2px dotted #D6D6D6;
    .group {
        .title {
            color: #9DA4AD;
            font-size: 14px;
        }
        .desc {
            color: #001C3B;
            font-size: 25px;
            font-weight: bold;
            line-height: 32px;
            margin-top: 3px;
        }
        .detail {
            color: #8FA4BB;
            font-family: Roboto;
            font-size: 14px;
            margin-top: 4px;
        }
    }
    @include media-breakpoint-down(sm) {
        [class*='col-']:not(:first-child) {
            margin-top: 30px;
        }
    }
}

.info {
    .title {
        color: #333333;
        font-size: 14px;
        min-width: 120px;
        display: inline-block;
        @media (max-width: 320px) {
            min-width: 100px;
        }
    }
    .value {
        color: #333333;
        font-size: 14px;
        font-weight: bold;
        min-width: 124px;
        display: inline-block;
        &.status {
            &:before {
                content: '';
                padding: 0 8px;
                display: inline;
                margin-right: 4px;
                border-radius: 2px;
            }
            &.confirmed:before,
            &.complete:before {
                background: #77cb38;
            }
            &.canceled:before {
                background: #D6D6D6;
            }
            &.draft:before {
                background: #D6D6D6;
            }
            &.pending:before {
                background: #FBB03B;
            }
            &.blocked:before {
                background: #EE3D42;
            }
            &.completed:before,
            &.processed:before {
                background: #3FA9F5;
            }
        }
    }
}
.request-date {
    .title {
        color: #333333;
        font-size: 14px;
    }
    .value {
        color: #333333;
        font-size: 14px;
        font-weight: bold;
        margin-left: 17px;
    }
}

.products-container {
    margin-top: 27px;
}

.divider {
    height: auto;
    width: 2px;
    background-color: #D6D7E0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.card-container {
    margin-bottom: 27px !important;
}

@include media-breakpoint-down(md) {
    .nav-tab-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    ul.nav {
        min-width: 520px;
        width: 100%;
    }
    .nav-tabs {
        .nav-item {
            display: inline-block;
        }
    }
}