@import "~bootstrap/scss/bootstrap-grid.scss";
// Variables
// ---------------------
$table-header-font-weight: 700;
$table-header-font-color: #001C3B;
$table-cell-padding: 13px;
$table-condensed-cell-padding: $table-cell-padding/2;
$table-bg: #fff;
$table-bg-accent: #E7EAEE;
$table-bg-hover: rgba(0, 0, 0, .12);
$table-bg-active: $table-bg-hover;
$table-border-color: #e0e0e0;


// Material Design shadows
// 
@mixin shadow-z-1() {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
}

$link-blue: #3FA9F5;
.layout {
    padding: 34px 17px 34px 26px;
    @include media-breakpoint-down(sm) {
        padding: 34px 17px 34px 17px;
    }
}

ul.title-nav {
    list-style-type: none;
    padding: 0;
    li {
        display: inline;
        color: #4D4D4D;
        font-size: 26px;
        line-height: 2rem;
        &:first-child {
            color: $link-blue;
            font-size: 1.625rem;
            line-height: 2rem;
            font-weight: 400;
        }
        &:not(:first-child) {
            &:before {
                content: '\25CF';
                font-size: 12px;
                border-radius: 50%;
                line-height: 2rem;
                vertical-align: middle;
                padding-left: 8px;
                padding-right: 11px;
                color: #002A59;
            }
        }
    }
}

.title-container {
    padding-top: 7px;
    padding-bottom: 16px;
    h1 {
        display: inline;
    }
    .icon-down-single-black {
        height: 8px;
        width: 17px;
        vertical-align: 10px;
        margin-left: 11px;
    }
}


.cto-container {
    &.center-with-steps a {
        margin-bottom: 16px;
    }
    a:not(:last-child) {
        margin-right: 8px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 16px;
    }
}

.location-container {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);    
    background-color: #FFFFFF;
    margin-top: 25px;
    padding: 25px 0px;
    min-height: 106px; 
    display: flex;
    .span-one-style  {
        font-family: Roboto;
        font-size: 1.429rem;
        font-weight: bold;
        //@include media-breakpoint-down(sm) {
        @include media-breakpoint-down(md) {            
            padding: 20px 0;           
        }
    }
    >.location-style {
        padding-left: 25px;
        @include media-breakpoint-down(md) {            
            padding: 15px;           
        }        
    } 
}

.button {
    display: inline-block;
    min-width: 85px;
    border-radius: 2px;
    border: 1px solid #EE3D42;
    padding: 8px 16px;
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    color: #fff;
    background: #EE3D42 !important;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.status-block-position {
    @include media-breakpoint-up(md) {
        padding: 9px 13px !important;
        padding-top: 11px !important;
    }
}

.nav-tab-container {
    padding-top: 33px;
    padding-left: 0px;
    display: flex;    
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #333;
    background-color: transparent;
    border-color: #d6d6d6 #d6d6d6 #f4f6f9;
    border-top: 3px solid #3FA9F5;
}

.nav-tabs .nav-link:hover {
    color: #3FA9F5;
}

.products-detail-container {
    background-color: #FFFFFF;
    margin-top: 3%;
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    .divider {
        height: auto;
        width: 2px;
        background-color: #D6D7E0;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin-bottom: 2%;
    }
    
    > .left-detail-container {
        padding-left: 4%;
        color: #2A2A2A;
        font-family: Roboto;	
        font-size: 28px;	
        font-weight: bold;
        //white-space: nowrap;
        overflow: hidden;
    }
    > .right-detail-container {
        margin-bottom: 7%;
        padding-left: 2%;
        > .span {
            display: inline;
        }
    }    
    @include media-breakpoint-down(sm) {
        padding: 20px 0;
    }
}

.table-responsive-vertical {
    >.table {
        >thead {            
            >tr {
                >th {
                    text-overflow: clip; 
                    white-space: nowrap;
                    cursor: default;  
                    font-weight: normal;
                    color: #D6D6D6;
                }                
            }         
        }
        >tbody {
            >tr {
                >td {
                    cursor: default;  
                    text-overflow: clip; 
                    white-space: nowrap;
                    background: $table-bg;
                    border: 0;
                }          
            }
            >tr:hover {
                background: $table-bg;
            }
        }
    }
    @include media-breakpoint-down(md) {
        // Tighten up spacing
        >.table {
            margin-bottom: 0;
            background-color: transparent;
            >thead,
            >tfoot {
                display: none;
            }
            >tbody {
                display: block;
                >tr {
                    display: block;
                    border: 1px solid $table-border-color;
                    border-radius: 2px;
                    margin-bottom: $table-cell-padding;
                    >td {
                        background-color: $table-bg;
                        display: block;
                        //vertical-align: middle;
                        text-align: right;
                    }
                    >td[data-title]:before {
                        content: attr(data-title);
                        float: left;
                        font-size: inherit;
                        font-weight: $table-header-font-weight;
                        color: $table-header-font-color;
                    }
                }
            }
        } // Special overrides for shadows
        &.shadow-z-1 {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            >.table>tbody>tr {
                border: none;
                @include shadow-z-1();
            }
        } // Special overrides for the bordered tables
        >.table-bordered {
            border: 0; // Nuke the appropriate borders so that the parent can handle them
            >tbody {
                >tr {
                    >td {
                        border: 0;
                        border-bottom: 1px solid $table-border-color;
                    }
                    >td:last-child {
                        border-bottom: 0;
                    }
                }
            }
        } // Special overrides for the striped tables
        >.table-striped {
            >tbody>tr>td,
            >tbody>tr:nth-child(even) {
                background-color: $table-bg;
            }
            >tbody>tr>td:nth-child(even) {
                background-color: $table-bg;
            }
        } // Special overrides for hover tables
        >.table-hover {
            >tbody {
                >tr:hover>td,
                >tr:hover {
                    background-color: $table-bg;
                    cursor: none;
                }
                >tr>td:hover {
                    background-color: $table-bg-hover;
                    cursor: none;
                }
            }
        }
    }
}

.card-container.row.product {
    margin-top: 3.15%;
}

.card {
    margin-top: 3.15%;
    padding: 10px 13px;    
    .title-card {
        padding-left: 5px;
        padding-right: 2px;
        width: auto;
        font-family: Roboto;	
        font-size: 12px;        
        > :first-child {
            font-weight: bold;            
        }
    }
    .text-card {
        margin-top: 2%;
        padding-left: 2px;
        padding-left: 1.65%;
        width: auto;
        font-family: Roboto;	
        font-size: 12px;    
    }
    .divider {
        height: auto;
        width: 2px;
        background-color: #D6D7E0;
        //background-color: red;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }    
}
.card-odd {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    margin-top: 1.2%;
    padding: 10px 13px;    
    .title-card {
        padding-left: 5px;
        padding-right: 2px;
        width: auto;
        font-family: Roboto;	
        font-size: 12px;        
        > :first-child {
            font-weight: bold;            
        }
    }
    .text-card {
        margin-top: 2%;
        padding-left: 2px;
        padding-left: 1.65%;
        width: auto;
        font-family: Roboto;	
        font-size: 12px;    
    }
    .divider {
        height: auto;
        width: 2px;
        background-color: #D6D7E0;
        //background-color: red;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }    
}

.cards {
    > :last-child {
        margin-bottom: 300px;
    }
}


/*
table, th, td, tr, thead, tbody {
   border: 1px solid black;
}
*/
/*
div {
    border: black solid 1px;
}
*/