@import "~bootstrap/scss/bootstrap-grid.scss";
$link-blue: #3FA9F5;
.layout {
    padding: 34px 17px 34px 26px;
    @include media-breakpoint-down(sm) {
        padding: 34px 17px 34px 17px;
    }
}

ul.title-nav {
    list-style-type: none;
    padding: 0;
    li {
        display: inline;
        color: #4D4D4D;
        font-size: 26px;
        line-height: 2rem;
        &:first-child {
            color: $link-blue;
            font-size: 1.625rem;
            line-height: 2rem;
            font-weight: 400;
        }
        &:not(:first-child) {
            &:before {
                content: '\25CF';
                font-size: 12px;
                border-radius: 50%;
                line-height: 2rem;
                vertical-align: middle;
                padding-left: 8px;
                padding-right: 11px;
                color: #002A59;
            }
        }
    }
}

.title-container {
    padding-top: 7px;
    padding-bottom: 16px;
    h1 {
        display: inline;
    }
    .icon-down-single-black {
        height: 8px;
        width: 17px;
        vertical-align: 10px;
        margin-left: 11px;
    }
}


.cto-container {
    &.center-with-steps a {
        margin-bottom: 16px;
    }
    a:not(:last-child) {
        margin-right: 8px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 16px;
    }
}


.location-container {
    background-color: #FFFFFF;
    margin-top: 25px;
    padding: 25px 0px;
    min-height: 106px; 
    display: flex;
    .span-one-style  {
        font-family: Roboto;
        font-size: 1.429rem;
        font-weight: bold;
        @include media-breakpoint-down(sm) {
            padding: 20px 0;
        }
    }
}

.nav-tab-container {
    padding-top: 33px;
    display: flex;
    clear: both;
    
}

ul.nav li a {
    color: black;
    padding: 16px 32px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    transition: all .3s;
}

ul.nav.nav-tabs.nav-justified.tabs-style li.active {
    color: black;
    border-top: 5px solid;
    border-top-color: red;
    border-left: 1px solid;
    border-right: 1px solid;
    //border-bottom: 0px;
}

.detail-container {
    padding-top: 58px;
    @include media-breakpoint-down(sm) {
        padding: 20px 0;
    }
}
/*
div {
    border: black solid 1px;
}
*/