<!-- start code for interactive modal -->
<div class="modal-container">
    <div class="modal-interactive">
        <a href="#" class="modal-close">
            <svg class="icon-close-black">
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
        <div class="row title-project">
            <h2>New Project Profile</h2>            
        </div>
        <div class="row form-group-two">
            <div class="col-md-12">
                <label for="name-project-profile" class="col-md-6 first-label">Define a Name for your Project Profile</label>
                <select id="name-project-profile" class="form-control">
                </select>       
            </div>
        </div>
        <div class="row form-group-two">
            <div class="col-md-6">
                <label for="discharge-time" class="col-md-12">Discharge Time</label>
                <select id="discharge-time" class="form-control col-md-12">   
                </select>              
            </div>
            <div class="col-md-6">
                <label for="Transport Method">Transport Method</label>
                <select id="transport-method" class="form-control col-md-12">    
                </select>                  
            </div>         
        </div>
        <div class="row form-group-two">
            <div class="col-md-6">
                <label for="unload-type" class="col-md-12">Unload Type</label>
                <select id="unload-type" class="form-control col-md-12">   
                </select>              
            </div>
            <div class="col-md-6">
                <label for="pump-capacity">Pump Capacity</label>
                <select id="pump-capacity" class="form-control col-md-12">    
                </select>                  
            </div>         
        </div> 
        <div class="row form-group-two">
            <div class="col-md-6">
                <label for="pump-frequency" class="col-md-12">Pump Frequency</label>
                <select id="pump-frequency" class="form-control col-md-12">   
                </select>              
            </div>
            <div class="row col-md-6">
                <div class="icon-wrap-container padd-check">
                    <svg class="icon-checkbox-static">
                        <use xlink:href="#icon-checkbox"></use>
                    </svg>
                    <span>Kicker</span>
                </div>                        
            </div>   
        </div>
        <div class="row form-group-two">
            <div class="col-md-6">
                <label for="contact-person" class="col-md-12">Contact person</label>
                <select id="contact-person" class="form-control col-md-12">   
                </select>              
            </div>
        </div>  
        <div class="row form-group-two">
            <div class="row col-md-12">
                <label for="pump-frequency" class="col-md-12">Additional Services</label>
                <div class="icon-wrap-container col-md-3">
                    <svg class="icon-checkbox-static">
                        <use xlink:href="#icon-checkbox"></use>
                    </svg>
                    <span>Extra Hours</span>
                </div>   
                <div class="icon-wrap-container col-md-5 col-xs-12">
                    <svg class="icon-checkbox-static">
                        <use xlink:href="#icon-checkbox"></use>
                    </svg>
                    <span>Sunday / Holiday Service</span>
                </div>   
                <div class="icon-wrap-container col-md-4">
                    <svg class="icon-checkbox-static">
                        <use xlink:href="#icon-checkbox"></use>
                    </svg>
                    <span>Pipeline</span>
                </div>                                                        
            </div>   
        </div>  
        <div class="row form-group-two">
            <label for="special-instructions" class="col-md-6">Special instructions</label>
            <input type="text" class="form-control" id="special-instructions" name="" value="" />
        </div>
        <div class="button-container col-md-12 col-sm-12">
            <div class="float-right">
                <a class="button-ghost" routerLink="../orders">Cancel</a>
                <a class="button bright-green" href="#steps-slider" role="button" data-slide="next">Confirm</a>
            </div>
        </div>
    </div>
</div>