@import "~bootstrap/scss/bootstrap-grid.scss";
.title-project {
    h2 {
        font-size: 30px;
        //padding-left: 50px;
        
    }
    padding-top: 50px;
    padding-left: 50px;
    
}

.first-label {
    padding-top: 47px;
}

.form-group-two {
    label {
        padding-left: 0%;
    }

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
}

.padd-check {
    padding-top: 8%;
}

.button-container {
    padding-bottom: 100px;
    @include media-breakpoint-down(sm) {
        align-items: center;
    }    
}
.icon-wrap-container span {
    float: inherit;
    display: block;
    padding-top: 8px;
}

label {
   @include media-breakpoint-down(sm) {     
        margin-bottom: 5px;
        margin-top: 1rem;
   }
}