<div (click)="cancel()" data-dismiss="modal" class="close">
    <svg class="icon-close-black">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
    </svg>
</div>
<div class="container-layout">
    <div class="title">
        {{ t.pt('views.search.search') }}
    </div>
    <div class="form-container">
        <div class="row">
            <div class="col-sm-6">
                <label for="ps-product-type" class="">{{ t.pt('views.search.product_type') }}</label>
                <select [(ngModel)]="productColorSelected" (change)="productColorChanged($event.target.value)" name="ps-product-type" id="ps-product-type" class="form-control" [ngClass]="{ 'required-pt': message }">
                    <option value="" selected disabled hidden></option>
                    <option [value]="null"></option>
                    <option [value]="productColorSelected" disabled selected hidden>{{ t.pt('views.search.select_product') }}</option>
                    <option *ngFor="let productColor of productColors" [ngValue]="productColor.productColorId">{{productColor.productColorDesc}}</option>
                </select>
            </div>
            <div class="col-sm-6" *ngIf="UTILS.isPickup() && UTILS.isCement()">
                <label for="ps-plant" class="">{{ t.pt('views.search.plant') }}</label>
                <select [(ngModel)]="plantSelected" (change)="plantChanged($event.target.value)" name="ps-plant" id="ps-plant" class="form-control">
                    <option value="" selected disabled hidden></option>
                    <option [value]="null"></option>
                    <option [value]="plantSelected" disabled selected hidden>{{ t.pt('views.search.select_plant') }}</option>
                    <option *ngFor="let plant of plants" [ngValue]="plant.plantId">{{plant.plantDesc}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="product-code" class="">{{ t.pt('views.search.product_code') }}</label>
                <input type="text" [(ngModel)]="productCodeInput" class="form-control dls required " (keyup)="filterProductByProductCode($event)" id="product-code" placeholder="{{ t.pt('views.search.filter_code_ph') }}" name="product-code" />
            </div>
            <div class="col-sm-6">
                <label for="product-description" class="">{{ t.pt('views.search.product_description') }}</label>
                <input type="text" [(ngModel)]="productDescriptionInput" class="form-control dls required " (ngModelChange)="filterProductByProductDescription($event)" id="product-description" placeholder="{{ t.pt('views.search.filter_desc_ph') }}" name="product-description" />
            </div>
        </div>
        <hr class="separator" />
        <div class="title sub">
            {{ t.pt('views.search.products') }}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="modal-scrolling-content">
                    <ul class="product-list">
                        <li class="product-list-item" [ngClass]="{'active': selectedProduct == product}" (click)="productSelected(product)" (dblclick)="productSelectedAndConfirm(product)" *ngFor="let product of filteredProducts">
                            {{product.commercialCode}} - {{product.commercialDesc}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row actions text-right">
        <div class="col">
            <button (click)="cancel()" data-dismiss="modal" class="button-ghost mb-2">{{ t.pt('views.common.cancel') }}</button>
            <button (click)="confirm()" data-dismiss="modal" class="button bright-green" #confirmSelection>{{ t.pt('views.common.select') }}</button>
        </div>
    </div>
</div>