<div (click)="cancel()" data-dismiss="modal" class="close">
    <svg class="icon-close-black">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
    </svg>
</div>
<div class="container-layout">
    <div class="title">
        Search product
    </div>
    <div class="form-container">
        <div class="row">
            <div class="col-sm-6">
                <label for="ps-product-type" class="">Product Type</label>
                <select [(ngModel)]="productColorSelected" (change)="productColorChanged($event.target.value)" name="ps-product-type" id="ps-product-type" class="form-control">
                    <option [value]="productColorSelected" disabled selected hidden>Select a Product Type</option>
                    <option *ngFor="let productColor of productColors" [ngValue]="productColor.productColorId">{{productColor.productColorDesc}}</option>
                </select>
            </div>
            <div class="col-sm-6" *ngIf="orderManager?.shippingCondition?.shippingConditionId == 2">
                <label for="ps-plant" class="">Plant</label>
                <select [(ngModel)]="plantSelected" (change)="plantChanged($event.target.value)" name="ps-plant" id="ps-plant" class="form-control">
                    <option [value]="plantSelected" disabled selected hidden>Select a Plant</option>
                    <option *ngFor="let plant of plants" [ngValue]="plant.plantId">{{plant.plantDesc}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="product-code" class="">Product Code</label>
                <input type="text" [(ngModel)]="productCodeInput" class="form-control dls required " (keyup)="filterProductByProductCode($event)" id="product-code" placeholder="Filter by Product Code" name="product-code" />
            </div>
            <div class="col-sm-6">
                <label for="product-description" class="">Product Description</label>
                <input type="text" [(ngModel)]="productDescriptionInput" class="form-control dls required " (keyup)="filterProductByProductDescription($event)" id="product-description" placeholder="Filter by Product Description" name="product-description" />
            </div>
        </div>
        <hr class="separator" />
        <div class="title sub">
            Products
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="modal-scrolling-content">
                    <ul class="product-list">
                        <li class="product-list-item" [ngClass]="{'active': selectedProduct == product}" (click)="productSelected(product)" (dblclick)="productSelectedAndConfirm(product)" *ngFor="let product of filteredProducts">
                            {{product.commercialCode}} - {{product.commercialDesc}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row actions text-right">
        <div class="col">
            <button (click)="cancel()" data-dismiss="modal" class="button-ghost mb-2">Cancel</button>
            <button (click)="confirm()" data-dismiss="modal" class="button bright-green" #confirmSelection>Select</button>
        </div>
    </div>
</div>