<div (click)="cancel()" data-dismiss="modal" class="close">
    <svg class="icon-close-black">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
    </svg>
</div>
<div class="container-layout">
    <div class="title">
        Search product
    </div>
    <div class="form-container">
        <div class="row">
            <div class="col-sm-6">
                <label for="ps-product-type" class="">Product Type</label>
                <select name="ps-product-type" id="ps-product-type" class="form-control">
                    <option value="" selected disabled hidden></option>
                    <option value="1">Riderback Eastern River Valley</option>
                    <option value="2">Monterrey, Nuevo Leon</option>
                    <option value="3">Tokyo Shibuya</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="ps-plant" class="">Plant</label>
                <select name="ps-plant" id="ps-plant" class="form-control">
                    <option value="" selected disabled hidden></option>
                    <option value="1">Riderback Eastern River Valley</option>
                    <option value="2">Monterrey, Nuevo Leon</option>
                    <option value="3">Tokyo Shibuya</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="ps-pcode" class="">Product Code</label>
                <select name="ps-pcode" id="ps-pcode" class="form-control">
                    <option value="" selected disabled hidden></option>
                    <option value="1">Riderback Eastern River Valley</option>
                    <option value="2">Monterrey, Nuevo Leon</option>
                    <option value="3">Tokyo Shibuya</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="ps-description" class="">Product Description</label>
                <select name="ps-description" id="ps-description" class="form-control">
                    <option value="" selected disabled hidden></option>
                    <option value="1">Riderback Eastern River Valley</option>
                    <option value="2">Monterrey, Nuevo Leon</option>
                    <option value="3">Tokyo Shibuya</option>
                </select>
            </div>
        </div>
        <hr class="separator" />
        <div class="title sub">
            Products
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="modal-scrolling-content">
                    <ul class="product-list">
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                        <li>100000045 - CPO40</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row actions text-right">
        <div class="col">
            <button (click)="cancel()" data-dismiss="modal" class="button-ghost mb-2">Cancel</button>
            <button (click)="confirm()" data-dismiss="modal" class="button bright-green">Select</button>
        </div>
    </div>
</div>