<div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-fixed main loading-table">
        <thead>
            <tr>
                <!-- <th class="i-column" width="5%">
                    <i class="star cmx-icon-favourite-active" aria-hidden="true"></i>
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th> -->
                <th width="10%">
                    Order No
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th width="15%">
                    Submitted
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th width="25%">
                    Location
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th width="20%">
                    Purchase Order Number
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th width="10%">
                    Products
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th width="10%">
                    Amount
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th width="25%">
                    Requested date
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th width="13%">
                    Status
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <th width="13%">
                    Total amount
                    <svg class="control"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use></svg>
                </th>
                <!-- <th width="5%">
                </th> -->
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let row of range">
                <tr class="order">
                    <!-- <td class="i-column" data-title="Favorite">
                    </td> -->
                    <td class="number" data-title="Order No"></td>
                    <td data-title="Submitted"></td>
                    <td data-title="Location"></td>
                    <td data-title="Purchase Order Number"></td>
                    <td data-title="Products" class="products">
                    </td>
                    <td data-title="Amount"></td>
                    <td valign="bottom" data-title="Requested date"></td>
                    <td data-title="Status" class="status-block-position">
                        <div class="status"></div>
                    </td>
                    <!-- TODO numberal parser -->
                    <td data-title="Total amount"></td>
                    <!-- <td class="i-column" data-title="Repeat">
                    </td> -->
                </tr>
                <tr class="hidden-md-down sub separator "></tr>
            </ng-container>
        </tbody>
    </table>
</div>